@import 'src/app/style/vars';
@import 'src/app/style/mixins';

i:hover {
  cursor: pointer;
}

.mileage-allowance-form {
  width: 100%;

  &__block {
    margin: 20px 0;

    &__title {
      @include header-form;
    }

    &__submit {
      margin-top: 40px;
      width: 100%;
      text-align: center;

      &__button {
        @include hoveranim_glow($darker_blue);

        display: inline-block;
        border: none;
        background: $dark_blue;
        cursor: pointer;
        padding: 0;
        width: 15%;
        min-width: 100px;
        height: 40px;
        line-height: 40px;
        color: $white;
        font-size: 16px;
        font-weight: 700;
      }
    }

    &__input-wrapper {
      @include form-input;

      display: flex;
      flex-wrap: wrap;

      &__item {
        margin: 0 5px;
        width: calc(100% - 10px);

        &--3col {
          margin: 0 5px;
          width: calc(100% - 10px);

          @media (min-width: $screen-sm-min) {
            margin: 0 5px;
            width: calc(33% - 10px);
          }
        }

        @media (min-width: $screen-sm-min) {
          margin: 0 5px;
          width: calc(50% - 10px);
        }
      }

      &__sub-block {
        margin-bottom: 20px;
        width: 100%;

        &__title {
          @include header-form;
        }

        &__input-wrapper {
          @include form-input;

          display: flex;
          flex-wrap: wrap;
          border-bottom: none;
          background: $white;

          &:first-of-type {
            border-top: 1px solid $grey_border_dark;
          }

          &:last-of-type {
            border-bottom: 1px solid $grey_border_dark;
          }

          &__item {
            margin: 0;
            width: 100%;
          }
        }

        @media (min-width: $screen-sm-min) {
          margin-bottom: 30px;
        }
      }

      app-expense-mileage-table {
        margin-top: 40px;
        width: 100%;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin: 30px 0;
    }
  }
}
