<table class="mileage">
    <thead class="mileage__header">
        <tr>
            <th class="mileage__header__item">Date</th>
            <th class="mileage__header__item left-text">Trajet</th>
            <th class="mileage__header__item">Distance (km)</th>
            <th class="mileage__header__item">Taux (€/km)</th>
            <th class="mileage__header__item amount">IK</th>
        </tr>
    </thead>
    <tbody class="mileage__body">
        <tr *ngFor = "let commute of timesheetService.timesheet.commutes">
            <td class="mileage__body__item" data-text="Date:">{{commute.date | date: 'dd/MM/yyyy'}}</td>
            <td class="mileage__body__item left-text" data-text="Trajet:">{{commute.journey}}</td>
            <td class="mileage__body__item" data-text="Distance:">{{commute.distance}}</td>
            <td class="mileage__body__item" data-text="Taux:">{{commute.allowance}}</td>
            <td class="mileage__body__item" data-text="Indemnités kilométriques:">{{commute.mileageAllowance | currency:currencyCode:"symbol":'1.2-2':local}}</td>
            <td class="mileage__body__item trashCan" *ngIf="!hideDeleteButton"><a (click)="delete(commute)"><i class="material-icons">delete</i></a></td>
        </tr>
        <tr class="no-background">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="mileage__body__item totalOfAllowances">Total HT: {{timesheetService.getTotalAllowance() | currency:currencyCode:"symbol":'1.2-2':local}}</td>
        </tr>
    </tbody>
</table>
