<!-- Page Heading -->
<h1 class="h2 mb-4 text-gray-800">Nouvelle mission</h1>

<div *ngIf="!ready" class="row">
  <div class="col-12 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-12 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
</div>

<div *ngIf="ready">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <fieldset class="card shadow mb-4">
      <a href="#mission-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="mission-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Mission</h2>
      </a>
      <div id="mission-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_title">Intitulé</label>
                <input class="form-control" id="mission_title" formControlName="title" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_start-date">Date de début</label>
                <input class="form-control" id="mission_start-date" type="date" formControlName="startDate" />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_end-date">Date de fin</label>
                <input class="form-control" id="mission_end-date" type="date" formControlName="endDate" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4" formGroupName="consultant">
      <a href="#consultant-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="consultant-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Consultant</h2>
      </a>
      <div id="consultant-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_consultant">Nom complet</label>
                <input class="form-control" formControlName="name" id="mission_consultant" />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_consultant-email">Email</label>
                <input class="form-control" formControlName="email" id="mission_consultant-email" type="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-check">
                <input class="form-check-input" formControlName="isFreelance" id="mission_consultant-isFreelance"
                  type="checkbox" />
                <label for="mission_consultant-isFreelance" class="form-check-label">Consultant indépendant</label>
              </div>
            </div>
          </div>
          <div *ngIf="isConsultantFreelance" class="row">
            <div class="col-lg">
              <p>Hello there</p>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4" formGroupName="client">
      <a href="#client-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="client-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Client</h2>
      </a>
      <div id="client-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_client-ref">Référence client (BDC)</label>
                <input class="form-control" formControlName="ref" id="mission_client-ref" />
              </div>
            </div>
          </div>
          <div class="row" formGroupName="company">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_client_name">Dénomination</label>
                <input class="form-control" formControlName="name" id="mission_client_name" />
              </div>
              <div class="form-group">
                <label for="mission_client_address">Adresse</label>
                <input class="form-control" formControlName="address" id="mission_client_address" />
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="mission_client_zip">Code postal</label>
                    <input class="form-control" formControlName="zipCode" id="mission_client_zip" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="mission_client_city">Ville</label>
                    <input class="form-control" formControlName="city" id="mission_client_city" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mission_client_phone">Téléphone</label>
                <input class="form-control" formControlName="phone" id="mission_client_phone" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_client_siren">Numéro de SIREN</label>
                <input class="form-control" formControlName="siren" id="mission_client_siren" />
              </div>
              <div class="form-group">
                <label for="mission_client_trade-and-companies-register-city">Ville d'immatriculation au RCS</label>
                <input class="form-control" formControlName="tradeAndCompaniesRegisterCity"
                  id="mission_client_trade-and-companies-register-city" />
              </div>
              <div class="form-group">
                <label for="mission_client_vat-number">Numéro de TVA intra-communautaire</label>
                <input class="form-control" formControlName="vatNumber" id="mission_client_vat-number" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4" formGroupName="paymentDetails">
      <a href="#details" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="details">
        <h2 class="m-0 font-weight-bold text-primary h6">Modalités de règlement</h2>
      </a>
      <div id="details" class="collapse show">
        <div class="card-body">
          <div class="col">
            <div class="row">
              <div class="form-check ml-3 mb-3">
                <input class="form-check-input" formControlName="penalties" id="mission_consultant-penalties"
                  type="checkbox" />
                <label for="mission_consultant-penalties" class="form-check-label"> Pénalités de retard légales (40€
                  par facture + 10% par an)</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="mission_details-paymentMode">Mode de règlement</label>
                <input class="form-control" formControlName="mode" id="mission_details-paymentMode" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4">
      <a href="#details" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="details">
        <h2 class="m-0 font-weight-bold text-primary h6">Détails de l'intervention</h2>
      </a>
      <div id="details" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_details-unitOfWorkType">Type d'unité d'oeuvre</label>
                <select class="form-select" formControlName="unitOfWorkType" id="mission_details-unitOfWorkType">
                  <option value="days">Journées</option>
                  <option value="hours">Heures</option>
                </select>
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_details-unitOfWorkPrice">Prix de l'unité d'oeuvre</label>
                <input class="form-control" formControlName="unitOfWorkPrice" id="mission_details-unitOfWorkPrice" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4" formGroupName="provider">
      <a href="#provider-content" class="d-block card-header text-body py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="provider-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Prestataire</h2>
      </a>
      <div id="provider-content" class="collapse">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_provider_name">Dénomination</label>
                <input class="form-control" formControlName="name" id="mission_provider_name" />
              </div>
              <div class="form-group">
                <label for="mission_provider_address">Adresse</label>
                <input class="form-control" formControlName="address" id="mission_provider_address" />
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="mission_provider_zip">Code postal</label>
                    <input class="form-control" formControlName="zipCode" id="mission_provider_zip" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="mission_provider_city">Ville</label>
                    <input class="form-control" formControlName="city" id="mission_provider_city" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mission_provider_phone">Téléphone</label>
                <input class="form-control" formControlName="phone" id="mission_provider_phone" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_provider_siren">Numéro de SIREN</label>
                <input class="form-control" formControlName="siren" id="mission_provider_siren" />
              </div>
              <div class="form-group">
                <label for="mission_provider_trade-and-companies-register-city">Ville d'immatriculation au RCS</label>
                <input class="form-control" formControlName="tradeAndCompaniesRegisterCity"
                  id="mission_provider_trade-and-companies-register-city" />
              </div>
              <div class="form-group">
                <label for="mission_provider_vat-number">Numéro de TVA intra-communautaire</label>
                <input class="form-control" formControlName="vatNumber" id="mission_provider_vat-number" />
              </div>
            </div>
          </div>
          <hr class="border-light w-100" />
          <div formGroupName="bankAccount">
            <h3 class="h5 mb-2 text-primary">Coordonnées bancaires</h3>
            <div class="row">
              <div class="col-lg">
                <div class="form-group">
                  <label for="mission_provider_provider-bank-account-holder">Titulaire du compte</label>
                  <input class="form-control" formControlName="holder"
                    id="mission_provider_provider-bank-account-holder" />
                </div>
              </div>
              <div class="col-lg">
                <div class="form-group">
                  <label for="mission_provider_provider-bank-swift">SWIFT</label>
                  <input class="form-control" formControlName="swift" id="mission_provider_provider-bank-swift" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="form-group">
                  <label for="mission_provider_provider-bank-iban">IBAN</label>
                  <input class="form-control" formControlName="iban" id="mission_provider_provider-bank-iban" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="form-group">
                  <label for="mission_provider_provider-banking-domiciliation">Banque</label>
                  <input class="form-control" formControlName="domiciliation"
                    id="mission_provider_provider-banking-domiciliation" />
                </div>
              </div>
              <div class="col-lg">
                <div class="form-group">
                  <label for="mission_provider_provider-banking-agency">Agence</label>
                  <input class="form-control" formControlName="agency" id="mission_provider_provider-banking-agency" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="d-flex justify-content-center mb-4">
      <input type="submit" class="btn btn-primary" value="Créer la mission" />
    </div>
  </form>
</div>
