<!-- Page Heading -->
<h1 class="h2 mb-4 text-gray-800">Nouvelle mission</h1>

<div *ngIf="!ready" class="row">
  <div class="col-12 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-12 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
</div>

<div *ngIf="ready">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <fieldset class="card shadow mb-4">
      <a href="#mission-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="mission-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Mission</h2>
      </a>
      <div id="mission-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_title">Intitulé</label>
                <input class="form-control" name="title" id="mission_title" ngModel />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_client-ref">Référence client (BDC)</label>
                <input class="form-control" name="client.ref" id="mission_client-ref" ngModel />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_start-date">Date de début</label>
                <input class="form-control" name="startDate" id="mission_start-date" type="date" ngModel />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_end-date">Date de fin</label>
                <input class="form-control" name="endDate" id="mission_end-date" type="date" ngModel />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4">
      <a href="#consultant-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="consultant-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Consultant</h2>
      </a>
      <div id="consultant-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_consultant">Nom complet</label>
                <input class="form-control" name="consultant.name" id="mission_consultant" ngModel />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_consultant-email">Email</label>
                <input class="form-control" name="consultant.email" id="mission_consultant-email" type="email"
                  ngModel />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4">
      <a href="#client-content" class="d-block card-header text-body py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="client-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Client</h2>
      </a>
      <div id="client-content" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_client">Nom complet</label>
                <input class="form-control" name="client.name" id="mission_client" ngModel />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_client-email">Email</label>
                <input class="form-control" name="client.email" id="mission_client-email" type="email" ngModel />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="card shadow mb-4">
      <a href="#provider-content" class="d-block card-header text-body py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="provider-content">
        <h2 class="m-0 font-weight-bold text-primary h6">Prestataire</h2>
      </a>
      <div id="provider-content" class="collapse">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_provider_name">Dénomination</label>
                <input class="form-control" name="provider.name" id="mission_provider_name" [ngModel]="company.name" />
              </div>
              <div class="form-group">
                <label for="mission_provider_address">Adresse</label>
                <input class="form-control" name="provider.address" id="mission_provider_address"
                  [ngModel]="company.address" />
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="mission_provider_zip">Code postal</label>
                    <input class="form-control" name="provider.zipCode" id="mission_provider_zip"
                      [ngModel]="company.zipCode" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label for="mission_provider_city">Ville</label>
                    <input class="form-control" name="provider.city" id="mission_provider_city"
                      [ngModel]="company.city" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mission_provider_phone">Téléphone</label>
                <input class="form-control" name="provider.phone" id="mission_provider_phone"
                  [ngModel]="company.phone" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="mission_provider_siren">Numéro de SIREN</label>
                <input class="form-control" name="provider.siren" id="mission_provider_siren"
                  [ngModel]="company.siren" />
              </div>
              <div class="form-group">
                <label for="mission_provider_trade-and-companies-register-city">Ville d'immatriculation au RCS</label>
                <input class="form-control" name="provider.tradeAndCompaniesRegisterCity"
                  id="mission_provider_trade-and-companies-register-city"
                  [ngModel]="company.tradeAndCompaniesRegisterCity" />
              </div>
              <div class="form-group">
                <label for="mission_provider_vat-number">Numéro de TVA intra-communautaire</label>
                <input class="form-control" name="provider.vatNumber" id="mission_provider_vat-number"
                  [ngModel]="company.vatNumber" />
              </div>
            </div>
          </div>
          <hr class="border-light w-100" />
          <h3 class="h5 mb-2 text-primary">Coordonnées bancaires</h3>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_provider_provider-bank-account-holder">Titulaire du compte</label>
                <input class="form-control" name="provider.bankAccount.holder"
                  id="mission_provider_provider-bank-account-holder" [ngModel]="company.bankAccount.holder" />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_provider_provider-bank-swift">SWIFT</label>
                <input class="form-control" name="provider.bankAccount.swift" id="mission_provider_provider-bank-swift"
                  [ngModel]="company.bankAccount.swift" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_provider_provider-bank-iban">IBAN</label>
                <input class="form-control" name="provider.bankAccount.iban" id="mission_provider_provider-bank-iban"
                  [ngModel]="company.bankAccount.iban" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_provider_provider-banking-domiciliation">Banque</label>
                <input class="form-control" name="provider.bankAccount.domiciliation"
                  id="mission_provider_provider-banking-domiciliation" [ngModel]="company.bankAccount.domiciliation" />
              </div>
            </div>
            <div class="col-lg">
              <div class="form-group">
                <label for="mission_provider_provider-banking-agency">Agence</label>
                <input class="form-control" name="provider.bankAccount.agency"
                  id="mission_provider_provider-banking-agency" [ngModel]="company.bankAccount.agency" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="d-flex justify-content-center mb-4">
      <input type="submit" class="btn btn-primary" value="Créer la mission" />
    </div>
  </form>
</div>
