@import 'src/app/style/vars';
@import 'src/app/style/mixins';

.calendar {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey_border;
    padding-bottom: 20px;
    line-height: 40px;

    &__daycount {
      text-align: center;
      font-size: 14px;
      font-weight: 700;

      & > span {
        @include centeralign;
      }

      & .highlight {
        color: $main_blue;
        font-size: 2em;
      }

      @media (min-width: $screen_sm_min) {
        text-align: left;
      }
    }

    &__time-unit {
      text-align: center;

      &__label,
      &__input {
        font-size: 14px;
      }

      &__label {
        display: inline;
        margin-right: 5px;
        font-weight: 700;
      }

      &__input {
        display: inline;
        padding: 0 1rem 0 0.25rem;
        width: 100px;
        height: 26px;
      }
    }

    &__month-choice {
      text-align: center;

      &__btn {
        @include centeralign;

        transition: background 0.2s ease-in-out;
        border-radius: 15px;
        background: $dark_blue;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: $white;

        &:hover {
          background: $darker_blue;
        }
      }

      &__detail {
        @include centeralign;

        background: none;
        min-width: 160px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
      }

      @media (min-width: $screen_sm_min) {
        text-align: right;
      }
    }

    @media (min-width: $screen_sm_min) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
      height: 50px;
      line-height: initial;
    }
  }

  &__content {
    &__tools {
      text-align: center;

      &__selectall {
        display: inline-block;
        transition: background 0.2s ease-in-out;
        border-radius: 15px;
        background: $dark_blue;
        cursor: pointer;
        padding: 5px 8px;
        height: 24px;
        line-height: 12px;
        color: $white;
        font-size: 11px;
        font-weight: 700;

        &:hover {
          background: $darker_blue;
        }
      }

      @media (min-width: $screen_xs_min) {
        text-align: right;
      }
    }

    &__dayselect {
      margin-top: 20px;

      & .cal-header,
      & .cal-out-month {
        display: none;

        @media (min-width: $screen_sm_min) {
          display: flex;
        }
      }

      & .cal-cell-row {
        flex-direction: column;

        @media (min-width: $screen_sm_min) {
          flex-direction: row;
        }
      }

      &__dayitem {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        &__cell {
          position: relative;
          height: 100%;

          &__changer {
            position: absolute;
            bottom: 20px;
            left: 40px;
            transform: translateX(-50%);
            transition: all 0.3s ease-in-out;
            margin: 0;
            border-radius: 30px;
            box-shadow: 0 0 3px 0 rgba($black, 0.35);
            background: $main_blue;
            width: 42px;
            height: 42px;
            overflow: hidden;
            text-align: center;
            line-height: 38px;

            &:hover {
              width: 100px;

              @media (min-width: $screen_sm_min) {
                width: 100px;
              }
            }

            &:hover & {
              &__options {
                transform: translateY(0%);
                visibility: visible;
                opacity: 1;
              }

              &__maintext {
                transform: translateY(-200%);
                visibility: hidden;
                opacity: 0;
              }
            }

            &__options {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateY(200%);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;
              visibility: hidden;
              opacity: 0;
              margin-left: -50px;
              width: 100px;
              height: 100%;
              line-height: 38px;
              white-space: nowrap;
              color: $white;

              &__item {
                @include centeralign;

                transition: all 0.2s ease-in-out;
                margin: 0 1px;
                border: 1px solid rgba($white, 0);
                border-radius: 24px;
                background-color: transparent;
                padding: 0;
                width: 28px;
                height: 28px;
                line-height: 26px;
                color: $white;
                font-size: 14px;
                font-weight: 700;

                &:hover {
                  border-color: rgba($white, 1);
                }

                &:focus {
                  outline: none;
                }

                &.selected {
                  background: $white;
                  color: $main_blue;
                }

                &.disabled {
                  opacity: 0.5;

                  &:hover {
                    border: none;
                  }
                }

                @media (min-width: $screen_sm_min) {
                  width: 28px;
                  height: 28px;
                  line-height: 28px;
                }
              }

              @media (min-width: $screen_sm_min) {
                width: 100px;
                line-height: 38px;
              }
            }

            &__maintext {
              @include centeralign;

              transform: translateY(0);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;
              line-height: 12px;
              color: $white;
              font-size: 16px;
              font-weight: 700;

              & > span {
                display: block;
                color: rgba($white, 0.95);
                font-size: 0.7em;
              }
            }

            @media (min-width: $screen_sm_min) {
              bottom: 8px;
              left: 28px;
              width: 42px;
              height: 42px;
              line-height: 38px;
            }
          }
        }
      }

      & .cal-weekend.cal-day-cell,
      & .cal-month-view .cal-cell-row .cal-cell.cal-weekend.cal-out-month:hover {
        background: rgba($black, 0.02);
      }

      & .cal-month-view .cal-day-cell {
        height: 80px;
        min-height: 80px;

        @media (min-width: $screen_sm_min) {
          height: 100px;
          min-height: 100px;
        }
      }

      & .cal-month-view .cal-day-cell.cal-today {
        box-shadow: inset 0 0 0 1px $main_blue;
        background: none;

        &.cal-disabled {
          box-shadow: none;
          background: #fefefe;

          &.cal-weekend {
            background: #fafafa;
          }

          .cal-day-number {
            font-size: 1.2em;
          }
        }
      }

      & .cal-month-view .cal-cell-row:hover,
      & .cal-month-view .cal-cell-row.cal-header .cal-cell:hover,
      & .cal-month-view .cal-cell.cal-has-events.cal-open {
        background: none;
      }

      & .cal-month-view .cal-cell-row .cal-cell {
        transition: background 0.2s ease-in-out;
      }

      & .cal-month-view .cal-cell-row .cal-cell:hover {
        background: none;
      }

      & .cal-month-view .cal-cell-row:not(.cal-header) .cal-cell:not(.cal-out-month):hover {
        background: $grey_light;
      }

      & .cal-month-view .cal-day-cell:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid $grey_border;

        @media (min-width: $screen_sm_min) {
          border-right: 1px solid $grey_border;
          border-bottom: 0;
        }
      }

      & .cal-month-view .cal-days {
        border: 1px solid $grey_border;
        border-bottom: 0;

        @media (min-width: $screen_sm_min) {
          border-bottom: 1px solid $grey_border;
        }
      }
    }
  }
}

.fill-height {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}

.cal-disabled {
  background-color: #fefefe;
  pointer-events: none;

  .cal-day-number {
    filter: opacity(25%);
  }

  &.cal-has-events .cal-day-number {
    filter: opacity(100%);
  }
}
