@import "src/app/style/vars";
@import "src/app/style/mixins";

.calendar {
  &__header {
    @media (min-width: $screen_xs_min) {
      height: 50px;
    }

    padding: 0;
    height: 100px;
    border-bottom: 1px solid $grey_border;
    line-height: 50px;
    margin-bottom: 20px;

    &__daycount {
      @media (min-width: $screen_xs_min) {
        float: left;
        width: 50%;
        text-align: left;
      }

      font-weight: 700;
      font-size: 14px;
      width: 100%;
      text-align: center;

      & > span {
        @include centeralign;
      }

      & .highlight {
        font-size: 2em;
        color: $main_blue;
      }
    }

    &__month-choice {
      @media (min-width: $screen_xs_min) {
        float: left;
        width: 50%;
        text-align: right;
      }

      width: 100%;
      text-align: center;

      &__btn {
        @include centeralign;

        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;
        background: $dark_blue;
        color: $white;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: $darker_blue;
        }
      }

      &__detail {
        @include centeralign;

        font-weight: 700;
        font-size: 18px;
        background: none;
        min-width: 160px;
        text-align: center;
      }
    }
  }

  &__content {
    &__tools {
      @media (min-width: $screen_xs_min) {
        text-align: right;
      }

      text-align: center;

      &__selectall {
        display: inline-block;
        height: 24px;
        line-height: 12px;
        padding: 5px 8px;
        border-radius: 15px;
        background: $dark_blue;
        color: $white;
        font-size: 11px;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: $darker_blue;
        }
      }
    }

    &__dayselect {
      margin-top: 20px;

      & .cal-header,
      & .cal-out-month {
        @media (min-width: $screen_sm_min) {
          display: flex;
        }

        display: none;
      }

      & .cal-cell-row {
        @media (min-width: $screen_sm_min) {
          flex-direction: row;
        }

        flex-direction: column;
      }

      &__dayitem {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        &__cell {
          position: relative;
          height: 100%;

          &__changer {
            @media (min-width: $screen_sm_min) {
              height: 42px;
              width: 42px;
              line-height: 38px;
              bottom: 8px;
              left: 28px;
            }

            width: 42px;
            height: 42px;
            line-height: 38px;
            text-align: center;
            border-radius: 30px;
            margin: 0;
            position: absolute;
            bottom: 20px;
            left: 40px;
            overflow: hidden;
            background: $main_blue;
            box-shadow: 0px 0px 3px 0px rgba($black, 0.35);
            transform: translateX(-50%);
            transition: all 0.3s ease-in-out;

            &__options {
              @media (min-width: $screen_sm_min) {
                line-height: 38px;
                width: 100px;
              }

              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: 0;
              left: 50%;
              width: 100px;
              margin-left: -50px;
              height: 100%;
              line-height: 38px;
              white-space: nowrap;
              color: $white;
              transform: translateY(200%);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;

              &__item {
                @include centeralign;

                @media (min-width: $screen_sm_min) {
                  width: 28px;
                  height: 28px;
                  line-height: 28px;
                }

                font-weight: 700;
                font-size: 14px;
                width: 28px;
                height: 28px;
                margin: 0 1px;
                border-radius: 24px;
                border: 1px solid rgba($white, 0);
                line-height: 26px;
                transition: all 0.2s ease-in-out;

                &:hover {
                  border-color: rgba($white, 1);
                }

                &.selected {
                  background: $white;
                  color: $main_blue;
                }
              }
            }

            &__maintext {
              @include centeralign;

              color: $white;
              font-weight: 700;
              font-size: 16px;
              line-height: 12px;
              transform: translateY(0);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;

              & > span {
                font-size: 0.7em;
                display: block;
                color: rgba($white, 0.95);
              }
            }

            &:hover {
              @media (min-width: $screen_sm_min) {
                width: 100px;
              }

              width: 100px;
            }

            &:hover & {
              &__options {
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
              }

              &__maintext {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-200%);
              }
            }
          }
        }
      }

      & .cal-weekend.cal-day-cell,
      & .cal-month-view .cal-cell-row .cal-cell.cal-weekend.cal-out-month:hover {
        background: rgba($black, 0.02);
      }

      & .cal-month-view .cal-day-cell {
        @media (min-width: $screen_sm_min) {
          height: 100px;
          min-height: 100px;
        }

        height: 80px;
        min-height: 80px;
      }

      & .cal-month-view .cal-day-cell.cal-today {
        background: none;
        box-shadow: inset 0px 0px 0px 1px $main_blue;

        &.cal-disabled {
          background: #fefefe;
          box-shadow: none;

          &.cal-weekend {
            background: #fafafa;
          }

          .cal-day-number {
            font-size: 1.2em;
          }
        }
      }

      & .cal-month-view .cal-cell-row:hover,
      & .cal-month-view .cal-cell-row.cal-header .cal-cell:hover,
      & .cal-month-view .cal-cell.cal-has-events.cal-open {
        background: none;
      }

      & .cal-month-view .cal-cell-row .cal-cell {
        transition: background 0.2s ease-in-out;
      }

      & .cal-month-view .cal-cell-row .cal-cell:hover {
        background: none;
      }

      & .cal-month-view .cal-cell-row:not(.cal-header) .cal-cell:not(.cal-out-month):hover {
        background: $grey_light;
      }

      & .cal-month-view .cal-day-cell:not(:last-child) {
        @media (min-width: $screen_sm_min) {
          border-right: 1px solid $grey_border;
          border-bottom: 0;
        }

        border-right: 0;
        border-bottom: 1px solid $grey_border;
      }

      & .cal-month-view .cal-days {
        @media (min-width: $screen_sm_min) {
          border-bottom: 1px solid $grey_border;
        }

        border: 1px solid $grey_border;
        border-bottom: 0;
      }
    }
  }
}

.fill-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cal-disabled {
  background-color: #fefefe;
  pointer-events: none;

  .cal-day-number {
    filter: opacity(25%);
  }

  &.cal-has-events .cal-day-number {
    filter: opacity(100%);
  }
}

.disabled-element {
  visibility: hidden;
}
