@import 'src/app/style/vars';
@import 'src/app/style/mixins';


.calendar {
  margin: 20px auto;
  width: 1000px;

  &__header {
    @media (min-width: $screen_xs_min) {
      height: 50px;
    }

    padding: 0;
    height: 100px;
    border-bottom: 1px solid $grey_border;
    line-height: 50px;
    margin-bottom: 20px;

    &__daycount {
      @media (min-width: $screen_xs_min) {
        float: left;
        width: 50%;
        text-align: left;
      }

      font-weight: 700;
      font-size: 14px;
      width: 100%;
      text-align: center;

      & > span {
        @include centeralign;
      }

      & .highlight {
        font-size: 2em;
        color: $main_blue;
      }
    }

    &__month-choice {
      @media (min-width: $screen_xs_min) {
        float: left;
        width: 50%;
        text-align: right;
      }

      width: 100%;
      text-align: center;

      &__btn {
        @include centeralign;

        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;
        background: $dark_blue;
        color: $white;
        cursor: pointer;
        transition: background .2s ease-in-out;

        &:hover {
          background: $darker_blue;
        }
      }

      &__detail {
        @include centeralign;

        font-weight: 700;
        font-size: 18px;
        background: none;
        min-width : 160px;
        text-align: center;
      }
    }
  }

  &__content {
    &__tools {
      @media (min-width: $screen_xs_min) {
        text-align: right;
      }

      text-align: center;

      &__selectall {
        display: inline-block;
        height: 24px;
        line-height: 12px;
        padding: 5px 8px;
        border-radius: 15px;
        background: $dark_blue;
        color: $white;
        font-size: 11px;
        font-weight: 700;
        cursor: pointer;
        transition: background .2s ease-in-out;

        &:hover {
          background: $darker_blue;
        }
      }
    }

    &__dayselect {
      margin-top: 20px;

      &__header {
        display: flex;

        &__item {
          width: 250px;
          text-align: center;
          border: 1px solid $grey_border_dark;
          border-left: none;

          &:first-of-type {
            border-left: 1px solid $grey_border_dark;
          }
        }
      }

      &__row {
        display: flex;

        &__cell {
          width: 250px;
          height: 100px;
          opacity: 1;
          transition: opacity .15s ease-in-out;
          position: relative;

          border: 1px solid $grey_border;
          border-left: none;
          border-top: none;

          &:first-of-type {
            border-left: 1px solid $grey_border;
          }

          &:hover {
            opacity: 0.9;
            background-color: $grey_light;
          }

          &__date {
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 10px;

            &.noBusiness {
              color: $main_red;
            }
          }

          &__holidays {
            position: absolute;
            top: 36px;
            left: 25px;
          }

          &__changer {
            @media (min-width: $screen_sm_min) {
              height: 42px;
              width: 42px;
              line-height: 38px;
              bottom: 8px;
              left: 28px;
            }

            width: 42px;
            height: 42px;
            line-height: 38px;
            text-align: center;
            border-radius: 30px;
            margin: 0;
            position: absolute;
            bottom: 20px;
            left: 40px;
            overflow: hidden;
            background: $main_blue;
            box-shadow: 0px 0px 3px 0px rgba($black, 0.35);
            transform: translateX(-50%);
            transition: all .3s ease-in-out;

            &__options {
              @media (min-width: $screen_sm_min) {
                line-height: 38px;
                width: 100px;
              }

              opacity: 0;
              visibility: hidden;
              position : absolute;
              top: 0;
              left: 50%;
              width: 100px;
              margin-left: -50px;
              height: 100%;
              line-height: 38px;
              white-space: nowrap;
              color: $white;
              transform: translateY(200%);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;

              &__item {
                @include centeralign;

                @media (min-width: $screen_sm_min) {
                  width: 28px;
                  height: 28px;
                  line-height: 28px;
                }

                font-weight: 700;
                font-size: 14px;
                width: 28px;
                height: 28px;
                margin: 0 1px;
                border-radius: 24px;
                border: 1px solid rgba($white, 0);
                line-height: 26px;
                transition: all .2s ease-in-out;

                &:hover {
                  border-color: rgba($white, 1);
                }

                &.selected {
                  background: $white;
                  color: $main_blue;
                }
              }
            }

            &__maintext {
              @include centeralign;

              color: $white;
              font-weight: 700;
              font-size: 16px;
              line-height: 12px;
              transform: translateY(0);
              transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;

              & > span {
                font-size: 0.7em;
                display:block;
                color: rgba($white, 0.95);
              }
            }

            &:hover {
              @media (min-width: $screen_sm_min) {
                width: 100px;
              }

              width: 100px;
            }

            &:hover & {
              &__options {
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
              }

              &__maintext {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-200%);
              }
            }
          }
        }
      }
    }
  }
}
