@import "src/app/style/vars";
@import "src/app/style/mixins";

.navbar {
  position: absolute;
  width: 15%;
  height: 100%;
  left: 0%;
  background-color: $main_red;
  color: $white;
  font-size: 19px;
  font-weight: bold;
}

ul {
  position: absolute;
  left: -20px;
  top: 7%;
  list-style:none;
}

.md-36 {
  font-size: 36px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 8px; }

li {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

li:hover {
  cursor: pointer;
  opacity: 0.9;
}

