<app-header></app-header>
<div class="navbar">
    <ul>
        <li>
            <div [routerLink]="['/mission']" data-role="button-create-mission">
                <i class="material-icons md-36">business_center</i>Créer une mission
            </div>
        </li>
        <li>
            <div [routerLink]="['/timesheet','create']" data-role="button-create-cra">
                <i class="material-icons md-36">create_new_folder</i>Saisir un CRA
            </div>
        </li>
    </ul>
</div>
<app-mission-list class="missions"></app-mission-list>
