@import "src/app/style/vars";
@import "src/app/style/mixins";

.navbar {
  position: fixed;
  width: $sidebar_width;
  min-height: calc(100vh - #{$header_height} - 1em);
  left: 0%;
  background-color: $main_red;
  color: $white;
  font-size: 1em;
  font-weight: bold;
}

ul {
  padding-left: 0;
  list-style:none;
}

.md-36 {
  font-size: 2em;
  margin-right: .25em;
  vertical-align: middle;
  margin-bottom: .25em;
}

li {
  padding: .5em 1em;
  border-radius: .4em;
  cursor: pointer;
  opacity: 1;
  transition: all .15s ease-in-out;
}

li:hover {
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
  opacity: 0.9;
}

