<div class="row justify-content-center">
  <div class="text-center">
      <h2>{{ title[mode] }} un CRA</h2>
  </div>
</div>

<hr>

<div class="row mt-5 justify-content-center">

  <div
    class="modal show"
    tabindex="-1"
    role="dialog"
    aria-label="Close"
    [toggled]="showModal"
    (close)="onModalClose()"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success">Votre CRA a bien été enregistré.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" aria-label="Close">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Conservez
            <a target="_blank" [routerLink]="['/cra/edit']" [queryParams]="{ data: editToken }">ce lien</a>
            pour le modifier ultérieurement.
          </p>
          <p>
            Envoyez
            <a target="_blank" [routerLink]="['/cra/edit']" [queryParams]="{ data: reviewToken }">ce lien</a>
            de consultation à votre client
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal show"
    tabindex="-1"
    role="dialog"
    aria-label="Close"
    [toggled]="showErrorMessage"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Champs incorrectes !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" aria-label="Close">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">
            Tous les champ n'ont pas été remplis correctement !
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <form class="col-12" [formGroup]="form">

    <div class="offset-1 col-10 mt-5">

      <h4>Consultant</h4>

      <hr align="left" width="70%">

      <div class="form-group row justify-content-between">
        <label for="consultantNameInput" class="col-2 col-form-label">Nom</label>
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            name="consultantNameInput"
            formControlName="consultantNameInput"
            [disabled]="mode === 'review'"
          >
          <div
            *ngIf="consultantNameInput.invalid && (consultantNameInput.dirty || consultantNameInput.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="consultantNameInput.errors.required">
              Champ obligatoire !
            </div>
            <div *ngIf="consultantNameInput.errors.minlength">
              Longueur minimale : 4 caractères !
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-between mt-2">
        <label for="consultantEmailInput" class="col-2 col-form-label">Email</label>
        <div class="col-6">
          <input
            type="email"
            name="consultantEmailInput"
            class="form-control"
            formControlName="consultantEmailInput"
            [disabled]="mode === 'review'"
          >
          <div
            *ngIf="consultantEmailInput.invalid && (consultantEmailInput.dirty || consultantEmailInput.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="consultantEmailInput.errors.required">
              Champ obligatoire !
            </div>
            <div *ngIf="consultantEmailInput.errors.email">
              Cet email n'est pas valide !
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="offset-1 col-10 mt-5">

      <h4>Mission</h4>

      <hr align="left" width="70%">

      <div class="form-group row justify-content-between">
        <label for="missionTitle" class="col-2 col-form-label">Intitulé</label>
        <div class="col-6">
          <input
            type="text"
            name="missionTitle"
            class="form-control"
            formControlName="missionTitle"
            [disabled]="mode === 'review'"
          >
          <div
            *ngIf="missionTitle.invalid && (missionTitle.dirty || missionTitle.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="missionTitle.errors.required">
              Champ obligatoire !
            </div>
            <div *ngIf="missionTitle.errors.minlength">
              Longueur minimale : 4 caractères !
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-between mt-2">
        <label for="missionFinalClient" class="col-2 col-form-label">Client final</label>
        <div class="col-6">
            <input
              type="text"
              name="missionFinalClient"
              class="form-control"
              formControlName="missionFinalClient"
              [disabled]="mode === 'review'"
            >
            <div
              *ngIf="missionFinalClient.invalid && (missionFinalClient.dirty || missionFinalClient.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="missionFinalClient.errors.required">
                Champ obligatoire !
              </div>
              <div *ngIf="missionFinalClient.errors.minlength">
                Longueur minimale : 4 caractères !
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="offset-1 col-10 mt-5">

      <h4>Journées d'intervention</h4>

      <hr align="left" width="70%">

      <app-calendar
        [miniTimesheet]="cra.timesheet"
        [picking]="mode !== 'review'"
      >
      </app-calendar>

    </div>

  </form>

  <div class="col-12 mt-5 row justify-content-end">
    <button
      *ngIf="mode !== 'review'"
      class="btn btn-primary col-4"
      (click)="onSubmitCRA()"
    >
      Enregistrer
    </button>

    <div class="col-4">
      <p class="text-success" *ngIf="saved">Sauvegarde éffectué !</p>
    </div>

  </div>

</div>

