<div class="edit-cra">
    <div class="edit-cra__header">
        <div class="edit-cra__header__container">
            <img class="edit-cra__header__container__logo" src="assets/images/logo.white.svg" alt="logo {{ title }}" onerror="this.removeAttribute('onerror'); this.src='//assets/images/logo.white.png'">
        </div>
    </div>

    <div class="edit-cra__wrapper">
        <div class="edit-cra__wrapper__title">
            <h2>{{ title[mode] }} un CRA</h2>
        </div>

        <div class="edit-cra__wrapper__modals">
            <div
            class="edit-cra__wrapper__modals__modal modal show"
            tabindex="-1"
            role="dialog"
            aria-label="Close"
            [toggled]="showModal"
            (close)="onModalClose('showModal')"
            >
                <div class="edit-cra__wrapper__modals__modal__dialog modal-dialog" role="document">
                    <div class="edit-cra__wrapper__modals__modal__dialog__content modal-content">
                        <div class="edit-cra__wrapper__modals__modal__dialog__content__header modal-header">
                            <h5 class="modal-title">Votre CRA a bien été créé</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" aria-label="Close">&times;</span>
                            </button>
                        </div>
                        <div class="edit-cra__wrapper__modals__modal__dialog__content__body modal-body">
                            <p>
                                Conservez
                                <a target="_blank" [routerLink]="['/cra/edit']" [queryParams]="{ data: editToken }">ce lien</a>
                                pour le modifier ultérieurement.
                            </p>
                            <p>
                                Envoyez
                                <a target="_blank" [routerLink]="['/cra/edit']" [queryParams]="{ data: reviewToken }">ce lien</a>
                                pour le partager en lecture seule.
                            </p>
                            <u>
                                Si vous modifiez le CRA, vous devrez le valider à nouveau et utiliser le nouveau lien de partage.
                            </u>
                        </div>
                        <div class="edit-cra__wrapper__modals__modal__dialog__content__footer modal-footer">
                            <button data-text="Fermer" type="button" class="edit-cra__wrapper__modals__modal__dialog__content__footer__button" data-dismiss="modal" aria-label="Close">
                                <span>Fermer</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div
            class="edit-cra__wrapper__modals__modal modal show"
            tabindex="-1"
            role="dialog"
            aria-label="Close"
            [toggled]="showErrorMessage"
            (close)="onModalClose('showErrorMessage')"
            >
                <div class="edit-cra__wrapper__modals__modal__dialog modal-dialog" role="document">
                    <div class="edit-cra__wrapper__modals__modal__dialog__content modal-content">
                        <div class="edit-cra__wrapper__modals__modal__dialog__content__header modal-header">
                            <h5 class="modal-title">Validation impossible</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" aria-label="Close">&times;</span>
                            </button>
                        </div>
                        <div class="edit-cra__wrapper__modals__modal__dialog__content__body modal-body">
                            <p class="">
                                Veuillez vérifier votre saisie.
                            </p>
                        </div>
                        <div data-text="Fermer" class="edit-cra__wrapper__modals__modal__dialog__content__footer modal-footer">
                            <button type="button" class="edit-cra__wrapper__modals__modal__dialog__content__footer__button" data-dismiss="modal" aria-label="Close">
                                <span>Fermer</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="edit-cra__wrapper__form" [formGroup]="form">
            <div class="edit-cra__wrapper__form__consultant">
                <h4 class="edit-cra__wrapper__form__consultant__title">Prestataire</h4>
                <div class="edit-cra__wrapper__form__consultant__input-wrapper">
                    <div class="edit-cra__wrapper__form__consultant__input-wrapper__name form-group">
                        <label for="consultantNameInput" class="edit-cra__wrapper__form__consultant__input-wrapper__name__label">Nom</label>
                        <div class="edit-cra__wrapper__form__consultant__input-wrapper__name__input">
                            <input
                            type="text"
                            class="form-control"
                            name="consultantNameInput"
                            formControlName="consultantNameInput"
                            >
                            <div
                            *ngIf="consultantNameInput.invalid && (consultantNameInput.dirty || consultantNameInput.touched)"
                            class="alert alert-danger"
                            >
                                <div *ngIf="consultantNameInput.errors.required">
                                    Ce champ est obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-cra__wrapper__form__consultant__input-wrapper__email form-group">
                        <label for="consultantEmailInput" class="edit-cra__wrapper__form__consultant__input-wrapper__email__label">Email</label>
                        <div class="edit-cra__wrapper__form__consultant__input-wrapper__email__input">
                            <input
                            type="email"
                            name="consultantEmailInput"
                            class="form-control"
                            formControlName="consultantEmailInput"
                            >
                            <div
                            *ngIf="consultantEmailInput.invalid && (consultantEmailInput.dirty || consultantEmailInput.touched)"
                            class="alert alert-danger"
                            >
                                <div *ngIf="consultantEmailInput.errors.required">
                                    Ce champ est obligatoire
                                </div>
                                <div *ngIf="consultantEmailInput.errors.email">
                                    Adresse mail non valide
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="edit-cra__wrapper__form__mission">
                <h4 class="edit-cra__wrapper__form__mission__title">Mission</h4>
                <div class="edit-cra__wrapper__form__mission__input-wrapper">
                    <div class="edit-cra__wrapper__form__mission__input-wrapper__name form-group">
                        <label for="missionTitle" class="edit-cra__wrapper__form__mission__input-wrapper__name__label">Intitulé</label>
                        <div class="edit-cra__wrapper__form__mission__input-wrapper__name__input">
                            <input
                            type="text"
                            name="missionTitle"
                            class="form-control"
                            formControlName="missionTitle"
                            >
                            <div
                            *ngIf="missionTitle.invalid && (missionTitle.dirty || missionTitle.touched)"
                            class="alert alert-danger"
                            >
                                <div *ngIf="missionTitle.errors.required">
                                    Ce champ est obligatoire
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="edit-cra__wrapper__form__mission__input-wrapper__client form-group">
                        <label for="missionFinalClient" class="edit-cra__wrapper__form__mission__input-wrapper__client__label">Client final</label>
                        <div class="edit-cra__wrapper__form__mission__input-wrapper__client__input">
                            <input
                            type="text"
                            name="missionFinalClient"
                            class="form-control"
                            formControlName="missionFinalClient"
                            autocomplete="companyName"
                            >
                            <div
                            *ngIf="missionFinalClient.invalid && (missionFinalClient.dirty || missionFinalClient.touched)"
                            class="alert alert-danger"
                            >
                                <div *ngIf="missionFinalClient.errors.required">
                                    Ce champ est obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="edit-cra__wrapper__form__calendar">
                <h4 class="edit-cra__wrapper__form__calendar__title">Compte rendue d'activité</h4>
                <app-calendar
                [miniTimesheet]="cra.timesheet"
                [picking]="mode !== 'review'"
                >
                </app-calendar>
            </div>

            <div class="edit-cra__wrapper__form__submit">
                <button
                data-text="Valider mon CRA"
                *ngIf="mode !== 'review'"
                class="edit-cra__wrapper__form__submit__button"
                (click)="onSubmitCRA()"
                >
                <span>Valider mon CRA</span>
                </button>
            </div>
        </form>
    </div>
</div>
