@import 'src/app/style/vars';

/* Notifications Vars */
$notifications-bg-opacity: 0.95;

$notifications-default-bg: $grey_mine_lighter;
$notifications-default-color: $white;
$notifications-default-link-color: $white;
$notifications-default-close-color: $white;

$notifications-info-bg: $dark_blue;
$notifications-info-color: $white;
$notifications-info-link-color: $white;
$notifications-info-close-color: $white;

$notifications-warning-bg: $red_error;
$notifications-warning-color: $white;
$notifications-warning-link-color: $white;
$notifications-warning-close-color: $white;

$notifications-success-bg: $green_valid;
$notifications-success-color: $white;
$notifications-success-link-color: $white;
$notifications-success-close-color: $white;

/* Notifications Animations */
@keyframes fadeInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

/* Notifications Style */
.notifications {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: calc(100% - 20px);

  &__item {
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgba($notifications-default-bg, $notifications-bg-opacity);
    width: 100%;
    animation-name: fadeInUp;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    color: $notifications-default-color;

    &.fade-out {
      animation-name: fadeOutRight;
    }

    &.dismissable & {
      &__content {
        margin-right: 35px;
      }
    }

    &__content {
      padding: 5px 10px;

      a {
        text-decoration: underline;
        color: $notifications-default-link-color;
        font-weight: bold;
      }
    }

    &__close {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid rgba($white, 0.25);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      width: 35px;
      text-align: center;
      color: $notifications-default-close-color;

      &:hover {
        background-color: rgba($white, 0.25);
      }

      &__icon {
        font-size: 16px;
      }
    }

    &--info {
      background-color: rgba($notifications-info-bg, $notifications-bg-opacity);
      color: $notifications-info-color;
    }

    &--info & {
      &__content {
        a {
          color: $notifications-info-link-color;
        }
      }

      &__close {
        color: $notifications-info-close-color;
      }
    }

    &--warning {
      background-color: rgba($notifications-warning-bg, $notifications-bg-opacity);
      color: $notifications-warning-color;

      &__close {
        color: $notifications-warning-close-color;
      }
    }

    &--warning & {
      &__content {
        a {
          color: $notifications-warning-link-color;
        }
      }

      &__close {
        color: $notifications-warning-close-color;
      }
    }

    &--success {
      background-color: rgba($notifications-success-bg, $notifications-bg-opacity);
      color: $notifications-success-color;
    }

    &--success & {
      &__content {
        a {
          color: $notifications-success-link-color;
        }
      }

      &__close {
        color: $notifications-success-close-color;
      }
    }

    @media (min-width: $screen_sm_min) {
      animation-name: fadeInDown;
    }
  }

  @media (min-width: $screen_sm_min) {
    top: 20px;
    right: 20px;
    bottom: initial;
    flex-direction: column;
    width: calc(50% - 20px);
  }

  @media (min-width: $screen_lg_min) {
    width: calc(33% - 20px);
  }
}
