@import 'src/app/style/vars';
@import 'src/app/style/mixins';

body {
  background: $grey_light;
}

.header {
  box-shadow: 0 0 8px rgba($black, 0.8);
  background: $main_blue;
  padding: 10px 0;
  height: $header_height;

  &__container {
    position: relative;
    height: 100%;

    a {
      transition: opacity 0.15s ease-in-out;
      opacity: 1;
    }

    a:hover {
      opacity: 0.9;
    }

    &__logo {
      display: block;
      position: absolute;
      left: 20px;
      height: 100%;
    }

    &__user {
      position: absolute;
      right: 20px;
      cursor: pointer;
      vertical-align: middle;
      line-height: 40px;
      color: white;
      font-size: 12px;
      font-weight: bold;

      &__icon {
        margin-bottom: 4px;
        vertical-align: middle;
      }

      @media (min-width: $screen-sm-min) {
        line-height: 60px;
        font-size: 18px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    height: 80px;
  }
}
