
<div class="missions-list">
  <div class="missions-list__wrapper">
      <div class="missions-list__wrapper__title">
        <h2> Liste des missions</h2>
      </div>
    <table class="missions-list__table">
      <thead class="missions-list__table__header">
          <tr>
              <th class="flat-fee__table__header__item">CLIENT:</th>
              <th class="flat-fee__table__header__item">CONSULTANT:</th>
              <th class="flat-fee__table__header__item">TITRE:</th>
              <th class="flat-fee__table__header__item">DATE DÉBUT:</th>
              <th class="flat-fee__table__header__item">DATE FIN:</th>
              <th class="flat-fee__table__header__item"></th>
              <th class="flat-fee__table__header__item"></th>
          </tr>
      </thead>
      <tbody class="missions-list__table__body">
          <tr *ngFor = "let mission of missionsArray$">
              <td class="missions-list__table__body__item" data-text="client:">{{mission.client}}</td>
              <td class="missions-list__table__body__item" data-text="consultant:">{{mission.consultant}}</td>
              <td class="missions-list__table__body__item" data-text="titre:">{{mission.title}}</td>
              <td class="missions-list__table__body__item" data-text="date début:">{{mission.startDate | date: 'dd/MM/yyyy'}}</td>
              <td class="missions-list__table__body__item" data-text="date fin:">{{mission.endDate | date: 'dd/MM/yyyy'}}</td>
              <td class="missions-list__table__body__item"><a><i class="material-icons">create_new_folder</i></a></td>
              <td class="missions-list__table__body__item"><a (click)="delete(mission.id)"><i class="material-icons">delete</i></a></td>
          </tr>
      </tbody>
    </table>
    <div class="missions-list__table__alert" *ngIf="this.missionsArray$.length == 0">Vous n'avez aucune mission</div>
  </div>
</div>

<!-- {{ missionsArray$ | json }} -->
