<form #expenseForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="expense-miscellaneous-form">
        <div class="expense-miscellaneous-form__block">
            <h4 class="expense-miscellaneous-form__block__title">Frais sur justificatifs</h4>
            <div class="expense-miscellaneous-form__block__input-wrapper">
                <div class="expense-miscellaneous-form__block__input-wrapper__item form-group"
                     data-role="miscellaneous-block-date">
                    <label for="date" class="expense-miscellaneous-form__block__input-wrapper__item__label">Date</label>
                    <div class="expense-miscellaneous-form__block__input-wrapper__item__input">
                        <input type="date"
                               pattern="\d{4}-\d{2}-\d{2}"
                               class="form-control"
                               name="date"
                               [(ngModel)]="misc.date"
                               data-role="miscellaneous-input-date"
                               required
                               id="date"
                               #date="ngModel"/>
                        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
                            <div *ngIf="date.errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="date.errors['pattern']">
                                La date devrait respecter aaaa-mm-jj.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expense-miscellaneous-form__block__input-wrapper__item form-group"
                     data-role="miscellaneous-block-amount">
                    <label for="amount" class="expense-miscellaneous-form__block__input-wrapper__item__label">
                        Montant TTC (€)
                    </label>
                    <div class="expense-miscellaneous-form__block__input-wrapper__item__input">
                        <input placeholder="ex: 25.50"
                               type="text"
                               pattern="([0-9]+(\.[0-9]+)?)"
                               class="form-control"
                               name="amount"
                               data-role="miscellaneous-input-amount"
                               [(ngModel)]="misc.amount"
                               required
                               id="amount"
                               #amount="ngModel"/>
                        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
                            <div *ngIf="amount.errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="amount.errors['pattern']">
                                Seul des chiffres et un point sont acceptés
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngClass]="{
          'expense-miscellaneous-form__block__input-wrapper__item form-group':
            !miscellaneousExpensesService.vatDeductible(this.misc) || misc.selectedType === 1,
          'expense-miscellaneous-form__block__input-wrapper__item2 form-group2':
            (miscellaneousExpensesService.vatDeductible(this.misc) && misc.selectedType !== 1)
        }" data-role="miscellaneous-block-type">
                    <label for="expenseType" class="expense-miscellaneous-form__block__input-wrapper__item__label">
                        Type de frais
                    </label>
                    <div class="expense-miscellaneous-form__block__input-wrapper__item__input">
                        <select class="form-control"
                                name="expenseType"
                                [(ngModel)]="misc.selectedType"
                                required
                                id="expenseType"
                                #expenseType="ngModel"
                                data-role="miscellaneous-input-type">
                            <option [ngValue]="undefined" disabled selected>Type de frais</option>
                            <option *ngFor="let miscellaneousType of miscellaneousTypes; let i = index" [ngValue]="i">
                                {{ miscellaneousType.type }}
                                <span *ngIf="miscellaneousType.vatDeductible">(TVA déductible) </span>
                                <span *ngIf="!miscellaneousType.vatDeductible">(TVA non déductible) </span>
                            </option>
                        </select>
                        <div *ngIf="expenseType.invalid && (expenseType.dirty || expenseType.touched)"
                             class="alert alert-danger">
                            <div *ngIf="expenseType.errors['required']">
                                Ce champ est obligatoire.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(miscellaneousExpensesService.vatDeductible(this.misc) && misc.selectedType !== 1)"
                     class="expense-miscellaneous-form__block__input-wrapper__item2 form-group2"
                     data-role="miscellaneous-block-vat-rate">
                    <label for="expenseType" class="expense-miscellaneous-form__block__input-wrapper__item__label">
                        Taux de TVA (%)
                    </label>
                    <div class="expense-miscellaneous-form__block__input-wrapper__item__input">
                        <select class="form-control"
                                name="tvaRate"
                                [(ngModel)]="misc.tvaRate"
                                required
                                id="tvaRate"
                                data-role="miscellaneous-input-vat-rate"
                                #tvaRate="ngModel">
                            <option [ngValue]="undefined" disabled selected>Taux de TVA</option>
                            <option *ngFor="let tvaRate of vatRates; let i = index" [ngValue]="tvaRate">
                                {{ tvaRate }}
                            </option>
                        </select>
                        <div *ngIf="tvaRate.invalid && (tvaRate.dirty || tvaRate.touched)" class="alert alert-danger">
                            <div *ngIf="tvaRate.errors['required']">
                                Ce champ est obligatoire.
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngClass]="{
          'expense-miscellaneous-form__block__input-wrapper__item form-group':
            !miscellaneousExpensesService.vatDeductible(this.misc) || misc.selectedType === 1,
          'expense-miscellaneous-form__block__input-wrapper__item2 form-group2':
            (miscellaneousExpensesService.vatDeductible(this.misc) && misc.selectedType !== 1)
          }" data-role="miscellaneous-block-wording">
                    <label for="wording" class="expense-miscellaneous-form__block__input-wrapper__item__label">
                        Libellé <span class="optional">(optionnel)</span>
                    </label>
                    <div class="expense-miscellaneous-form__block__input-wrapper__item__input">
                        <input type="text"
                               class="form-control"
                               name="wording"
                               [(ngModel)]="misc.wording"
                               id="wording"
                               #wording="ngModel"
                               data-role="miscellaneous-input-wording"/>
                        <div *ngIf="wording.invalid && (wording.dirty || wording.touched)" class="alert alert-danger">
                        </div>
                    </div>
                </div>
                <div class="expense-miscellaneous-form__block__submit">
                    <button data-text="Ajouter"
                            class="expense-miscellaneous-form__block__submit__button"
                            data-role="button-add-miscellaneous">
                        <span>Ajouter</span>
                    </button>
                    <div class="expense-miscellaneous-form__block__submit__reminder"
                         *ngIf="this.timesheetService.timesheet.miscellaneous.length > 0">
                        * Pensez à transmettre les justificatifs de frais en annexe de votre facture
                    </div>
                </div>
                <app-expense-miscellaneous-table
                    (changed)="changed.emit(true)">
                </app-expense-miscellaneous-table>
            </div>
        </div>
    </div>
</form>
