@import 'src/app/style/vars';
@import 'src/app/style/mixins';

.review {
  &__wrapper {
    @include container;

    margin-top: 10px;
    box-shadow: 0 0 8px rgba($black, 0.2);
    background: $white;
    padding: 20px;

    &__title {
      color: $grey_mine_shaft;
      font-size: 22px;

      & > h2 {
        font-size: 20px;
        font-weight: 700;

        @media (min-width: $screen-sm-min) {
          font-size: 28px;
        }
      }

      & > h3 {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 400;

        @media (min-width: $screen-sm-min) {
          font-size: 24px;
        }
      }
    }

    &__fields {
      margin-top: 25px;

      &__block {
        &__title {
          @include header-form;
        }

        &__item-wrapper {
          border: 1px solid $grey_border_dark;
          border-top: 0;
          background: $grey_light;
          padding: 18px;

          & > hr {
            display: none;

            @media (min-width: $screen-sm-min) {
              display: block;
              margin: 0;
              background-color: $grey_border_dark;
              width: 1px;
              height: 90px;
            }
          }

          &__part {
            width: 100%;

            &__text {
              height: 30px;

              &__label {
                float: left;
                font-size: 14px;
                font-weight: 700;
              }

              &__value {
                float: right;
              }
            }

            @media (min-width: $screen-sm-min) {
              width: calc(50% - 11px);

              &#left-part {
                margin-right: 10px;
              }

              &#right-part {
                margin-left: 10px;
              }
            }
          }

          @media (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      &__invoice {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 25px;

        &__item {
          margin: 20px;
          width: calc(100% - 40px);

          &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &:hover,
            &:focus,
            &:active {
              text-decoration: none;
              color: initial;

              span {
                text-decoration: underline;
              }
            }

            i,
            span {
              color: initial;
            }

            i {
              font-size: 40px;
            }
          }

          @media (min-width: $screen-sm-min) {
            width: calc(100% / 4 - 40px);
          }
        }

        @media (min-width: $screen-sm-min) {
          margin-top: 45px;
        }
      }

      &__calendar {
        margin-top: 30px;
        width: 100%;

        &__title {
          @include header-form;
        }
      }

      &__allowance {
        margin-top: 30px;
        width: 100%;

        &__title {
          @include header-form;

          margin-bottom: 30px;
        }
      }

      @media (min-width: $screen-sm-min) {
        margin-top: 45px;
      }
    }

    @media (min-width: $screen-sm-min) {
      padding: 40px;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 30px;
    }
  }
}
