<app-header></app-header>
<div class="review">
  <div class="review__wrapper">
    <div class="review__wrapper__title">
      <h2>Compte rendu d'activité</h2>
    </div>
    <div class="review__wrapper__fields">
      <div class="review__wrapper__fields__block">
        <h3 class="review__wrapper__fields__block__title">Résumé</h3>
        <div class="review__wrapper__fields__block__item-wrapper">
          <div id="left-part" class="review__wrapper__fields__block__item-wrapper__part">
            <div class="review__wrapper__fields__block__item-wrapper__part__text">
              <span class="review__wrapper__fields__block__item-wrapper__part__text__label">Consultant : </span>
              <b>{{ timesheet.consultant.name }}</b>
            </div>
            <div class="review__wrapper__fields__block__item-wrapper__part__text">
              <span class="review__wrapper__fields__block__item-wrapper__part__text__label">Intitulé de la mission :
              </span>
              <b>{{ timesheet.mission.title }}</b>
            </div>
            <div class="review__wrapper__fields__block__item-wrapper__part__text">
              <span class="review__wrapper__fields__block__item-wrapper__part__text__label">Client : </span>
              <b>{{ timesheet.mission.client }}</b>
            </div>
          </div>
          <hr>
          <div id="right-part" class="review__wrapper__fields__block__item-wrapper__part">
            <div class="review__wrapper__fields__block__item-wrapper__part__text">
              <span class="review__wrapper__fields__block__item-wrapper__part__text__label">Nombre de journées : </span>
              <b>{{ workingTime }}</b>
            </div>
            <div class="review__wrapper__fields__block__item-wrapper__part__text">
              <span class="review__wrapper__fields__block__item-wrapper__part__text__label">Période : </span>
              <b>{{ date.toLocaleString(locale, { month: 'long', year: 'numeric' }) }}</b>
            </div>
          </div>
        </div>
      </div>

      <div class="review__wrapper__fields__invoice">
        <a *ngIf="generateInvoice" data-text="Télécharger la facture" class="review__wrapper__fields__invoice__button" target="_self"
          [href]="invoiceLink">
          <span>Télécharger la facture</span>
        </a>
        <a *ngIf="auth.isAuthenticated" [href]="'/timesheet/edit/' + transferToken" data-text="Facturer ce CRA" class="review__wrapper__fields__invoice__button" target="_self">
            <span>Facturer ce CRA</span>
        </a>
      </div>

      <div class="review__wrapper__fields__calendar">
        <h3 class="review__wrapper__fields__calendar__title">Journées d'intervention</h3>
        <app-calendar-selector [minifiedTimesheet]="timesheet.workingDays" [picking]="false">
        </app-calendar-selector>
      </div>

      <div class="review__wrapper__fields__allowance" *ngIf="timesheet.commutes.length > 0">
        <h3 class="review__wrapper__fields__allowance__title">Détail des indemnités kilométriques</h3>
        <app-expense-mileage-table [hideDeleteButton]="true">
        </app-expense-mileage-table>
      </div>

      <div class="review__wrapper__fields__allowance" *ngIf="timesheet.miscellaneous.length > 0">
        <h3 class="review__wrapper__fields__allowance__title">Détail des frais sur justificatif</h3>
        <app-expense-miscellaneous-table [hideDeleteButton]="true">
        </app-expense-miscellaneous-table>
      </div>

      <div class="review__wrapper__fields__allowance" *ngIf="timesheet.flatFees.length > 0">
        <h3 class="review__wrapper__fields__allowance__title">Détail des déplacements forfaitaires</h3>
        <app-expense-flat-fee-table [hideDeleteButton]="true">
        </app-expense-flat-fee-table>
      </div>
    </div>
  </div>
