<div class="card shadow h-100 py-2" [ngClass]="'border-left-' + color">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div
          class="text-xs font-weight-bold text-uppercase mb-1"
          [ngClass]="'text-' + color"
        >
          {{ title }}
        </div>
        <div
          class="h5 mb-0 font-weight-bold text-gray-800"
          [innerHTML]="content"
        ></div>
      </div>
      <div class="col-auto">
        <i class="fas fa-2x text-gray-300" [ngClass]="'fa-' + icon"></i>
      </div>
    </div>
  </div>
</div>
