<h1 class="h2 mb-4 text-gray-800">Missions</h1>

<div *ngIf="!ready" class="row">
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
  <div class="col-lg-6 mb-4">
    <app-card-skeleton></app-card-skeleton>
  </div>
</div>

<div *ngIf="ready">
  <div *ngIf="missionsCount === 0">
    <p>Aucune missions trouvées</p>
  </div>
  <div *ngFor="let status of missionsByStatus | keyvalue" class="row">
    <div *ngFor="let mission of status.value; index as i" class="col-lg-6 mb-2">
      <div class="card shadow mb-4" [ngClass]="{
          'border-left-info': $any(status).key == 'current',
          'border-left-warning': $any(status).key == 'future',
          'border-left-dark': $any(status).key == 'past'
        }">
        <a [href]="'#mission-' + $any(status).key + i" class="d-block card-header text-body py-3"
          [ngClass]="{ collapsed: $any(status).key !== 'current' }" data-toggle="collapse" role="button"
          [attr.aria-expanded]="$any(status).key === 'current'"
          [attr.aria-controls]="'mission-' + $any(status).key + i">
          <h2 class="m-0 font-weight-bold h6">
            <span class="mr-2 text-dark">{{ mission.consultant.name }}</span>
            <small class="text-nowrap">
              {{ mission.client.company.name }} |
              {{ mission.startDate | date: "dd/MM/yy":"Europe/Paris":"fr" }}
            </small>
          </h2>
        </a>
        <div [id]="'mission-' + $any(status).key + i" class="collapse"
          [ngClass]="{ show: $any(status).key === 'current' }">
          <div class="card-body">
            <h3 class="mb-3 lead">{{ mission.title }}</h3>
            <h3 class="mb-0 text-xs text-primary text-uppercase">
              Consultant
            </h3>
            <p class="mb-2">
              {{ mission.consultant.name }} -
              <a href="mailto:{{ mission.consultant.email }}">
                {{ mission.consultant.email }}
              </a>
            </p>
            <h3 class="mb-0 text-xs text-primary text-uppercase">Client</h3>
            <p class="mb-2">
              {{ mission.client.company.name }} -
              <a href="mailto:{{ mission.client.email }}">
                {{ mission.client.email }}
              </a>
            </p>
            <h3 class="mb-0 text-xs text-primary text-uppercase">Période</h3>
            <p class="mb-2">
              {{ mission.startDate | date: "dd MMM y":"Europe/Paris":"fr" }}
              -
              {{ mission.endDate | date: "dd MMM y":"Europe/Paris":"fr" }}
            </p>
          </div>
          <div class="card-footer">
            <!-- <a href="#" class="card-link"><i class="fas fa-info-circle"></i> Voir les détails</a> -->
            <button [copyToClipboard]="getMissionTimesheetLink(mission.id)"
              class="p-0 btn btn-link card-link text-info"><i class="fas fa-calendar-plus"></i>
              Copier le lien de saisie de CRA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
