@import "src/app/style/_vars";
@import "src/app/style/_mixins";

i:hover {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: hide;
}

th {
  background: $dark_blue;
  color: white;
  font-weight: bold;
}

th:empty,
td:empty {
  border: 0;
  background: none !important;
}

td,
th {
  padding: 6px;
  border: solid $grey_border_dark;
  border-width: 0px 1px;
  text-align: center;
}

tr:nth-of-type(odd) {
  background: $grey_border;
}

tr:nth-last-child(2) > td {
  border-bottom-width: 1px;
}

tr:first-of-type > td {
  border-top-width: 1px;
}

tr:last-of-type {
  background: none !important;
  & > td {
    background: $grey_border;
    border-bottom-width: 1px;
  }
}

.totalOfAllowances {
  font-weight: bold;
}

@media only screen and (max-width: 599px), (min-device-width: 350px) and (max-device-width: 599px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    empty-cells: show;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid $grey_border_dark;
  }

  td {
    border: none;
    border-bottom: 1px solid $grey_border;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: attr(data-text);
  }
  td:nth-of-type(2):before {
    content: attr(data-text);
  }
  td:nth-of-type(3):before {
    content: attr(data-text);
  }
  td:nth-of-type(4):before {
    content: attr(data-text);
  }
  td:nth-of-type(5):before {
    content: attr(data-text);
  }
}
