.fill-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.cal-disabled {
  background-color: #eee;
  pointer-events: none;

}

.cal-disabled .cal-day-number {
  filter: opacity(25%);
}

.cal-has-events.cal-disabled .cal-day-number {
  filter: opacity(100%);
}

a.cal-day-badge-selector.selected,
a.cal-day-badge-selector.selected:hover {
  color: black;
}

.cal-day-badge>.cal-day-badge-selector {
  display: none;
  color: white;
  opacity: 0;
}

.cal-day-badge:hover {
  .cal-day-badge-content {
    display: none;
  }
  .cal-day-badge-selector {
    display: inline;
    opacity: 1;
  }
}

.disabled-element {
  position: absolute;
  display: none;
  top: 200%;
}
