<div class="row justify-content-start">
  <div class="col">
    <p>Nombre total de journées : {{ totalTime }}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-1">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="previousMonth('viewDate')"
        [ngStyle]="{'display': picking ? '' : 'none'}"
      >
        &#60;
      </div>
    </div>
  </div>
  <h3 class="offset-2 col-4">{{ viewDate.toLocaleString(locale, { month: 'long', year: 'numeric' }) }}</h3>
  <div class="col-3">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        [ngStyle]="{'display': picking ? '' : 'none'}"
        (click)="selctAll()"
      >
        Sélectionner les jours ouvrés
      </div>
    </div>
  </div>

  <div class="offset-1 col-1">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="nextMonth('viewDate')"
          [ngStyle]="{'display': picking ? '' : 'none'}"
        >
          &#62;
        </div>
      </div>
    </div>
</div>
<br>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="fill-height">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
  </div>
</ng-template>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="timesheet"
  [refresh]="refresh"
  [locale]="locale"
  [weekStartsOn]="weekStartsOn"
  [weekendDays]="weekendDays"
  [cellTemplate]="customCellTemplate"
  (dayClicked)="dayClicked($event.day.date)"
  (beforeViewRender)="beforeMonthViewRender($event)">
</mwl-calendar-month-view>
