@import 'src/app/style/vars';
@import 'src/app/style/mixins';

/* homepage */

.homepage {
  position: absolute;
  top: 0;
  left: 0;
  background: $main_color;
  width: 100%;
  height: 100%;
  min-height: 450px;
  color: $white;

  &__header {
    position: relative;
    transition: height 0.2s ease-in-out;
    border-bottom: 12px solid $white;
    height: 100px;

    &__container {
      @include container;

      position: relative;
      height: 100%;

      &__logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 50%;
        min-width: 220px;

        @media (min-width: $screen_xs_min) {
          width: 50%;
        }
      }
    }

    @media (min-width: $screen_xs_min) {
      height: 33%;
    }
  }

  &__main {
    @include container;

    height: calc(64% - 12px);
    text-align: center;

    &__title {
      margin: 20px 0 50px;

      & .brand_name {
        display: none;
      }

      & h1 {
        font-size: 20px;
        font-weight: 700;

        @media (min-width: $screen_sm_min) {
          font-size: 26px;
        }

        @media (min-width: $screen_md_min) {
          font-size: 32px;
        }

        @media (min-width: $screen_lg_min) {
          font-size: 40px;
        }
      }

      @media (min-width: $screen_md_min) {
        margin: 3% 0 6%;
      }
    }

    &__btn {
      @include hoveranim_glow($darker_blue);

      display: inline-block;
      border: none;
      background: $dark_blue;
      cursor: pointer;
      padding: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      color: $white;
      font-size: 20px;
      font-weight: 700;

      @media (min-width: $screen_sm_min) {
        width: 350px;
        font-size: 18px;

        &#consultant {
          margin-right: 20px;
        }

        &#provider {
          margin-left: 20px;
        }
      }
    }
  }
}
