<!-- <div class="row">
  <div class="col-lg-6">
    <app-form-input [id]="mission_provider_name" name="mission[provider[name]]" label="Dénomination" [required]="true"
      [value]="company.name"></app-form-input>
    <app-form-input id="mission_provider_address" name="mission[provider[address]]" label="Adresse" [required]="true"
      [value]="company.address"></app-form-input>
    <div class="row">
      <div class="col-lg-4">
        <app-form-input id="mission_provider_zip-code" name="mission[provider[zipCode]]" label="Code postal"
          [required]="true" [value]="company.zipCode"></app-form-input>
      </div>
      <div class="col-lg-8">
        <app-form-input id="mission_provider_city" name="mission[provider[city]]" label="Ville" [required]="true"
          [value]="company.city"></app-form-input>
      </div>
    </div>
    <app-form-input id="mission_provider_phone" type="tel" name="mission[provider[phone]]" label="Téléphone"
      [value]="company.phone"></app-form-input>
  </div>
  <div class="col-lg-6">
    <app-form-input id="mission_provider_siren" name="mission[provider[siren]]" label="Numéro de SIREN"
      [required]="true" [value]="company.siren"></app-form-input>
    <app-form-input id="mission_provider_trade-and-companies-register-city"
      name="mission[provider[tradeAndCompaniesRegisterCity]]" label="Ville d'immatriculation au RCS"
      [value]="company.tradeAndCompaniesRegisterCity"></app-form-input>
    <app-form-input id="mission_provider_vat-number" name="mission[provider[vatNumber]]"
      label="Numéro de TVA intra-communautaire" [value]="company.vatNumber"></app-form-input>
  </div>
</div>
<hr class="border-light w-100" />
<h3 class="h5 mb-2 text-primary">Coordonnées bancaires</h3>
<div class="row">
  <div class="col-lg">
    <app-form-input id="mission_provider_provider-bank-account-holder"
      name="mission[provider[providerBankAccountHolder]]" label="Titulaire du compte"
      [value]="company.providerBankAccountHolder"></app-form-input>
  </div>
  <div class="col-lg">
    <app-form-input id="mission_provider_provider-bank-swift" name="mission[provider[providerBankSWIFT]]" label="SWIFT"
      [value]="company.providerBankSWIFT"></app-form-input>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <app-form-input id="mission_provider_provider-bank-iban" name="mission[provider[providerBankIBAN]]" label="IBAN"
      [value]="company.providerBankIBAN"></app-form-input>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <app-form-input id="mission_provider_provider-banking-domiciliation"
      name="mission[provider[providerBankingDomiciliation]]" label="Banque"
      [value]="company.providerBankingDomiciliation"></app-form-input>
  </div>
  <div class="col-lg">
    <app-form-input id="mission_provider_provider-banking-agency" name="mission[provider[providerBankingAgency]]"
      label="Agence" [value]="company.providerBankingAgency"></app-form-input>
  </div>
</div> -->
