<!-- <app-header></app-header>
<div class="mission-edit">
  <div class="mission-edit__wrapper">
    <div class="mission-edit__wrapper__title">
      <h2>Créer une mission</h2>
    </div>
    <form #missionForm="ngForm">
      <div class="mission-form">
        <div class="mission-form__block">
          <h4 class="mission-form__block__title">Mission</h4>
          <div class="mission-form__block__input-wrapper">
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionNameInput" class="mission-form__block__input-wrapper__item__label">Intitulé</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control" name="missionNameInput"
                  [(ngModel)]="missionService.mission.title" #missionName="ngModel">
                <div *ngIf="missionName.invalid && (missionName.dirty || missionName.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionName.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionclientRefInput" class="mission-form__block__input-wrapper__item__label">Référence
                client
                (BDC)<span class="optional">(optionnel)</span></label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" class="form-control" name="missionclientRefInput"
                  [(ngModel)]="missionService.mission.clientRef" #missionclientRefInput="ngModel">
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionStartDateInput" class="mission-form__block__input-wrapper__item__label">Date de
                début</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="date" required pattern="\d{4}-\d{2}-\d{2}" class="form-control"
                  name="missionStartDateInput" [(ngModel)]="missionService.mission.startDate"
                  #missionStartDateInput="ngModel">
                <div
                  *ngIf="missionStartDateInput.invalid && (missionStartDateInput.dirty || missionStartDateInput.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionStartDateInput.errors['required']">
                    Ce champ est obligatoire.
                  </div>

                  <div *ngIf="missionStartDateInput.errors['pattern']">
                    La date devrait respecter aaaa-mm-jj.
                  </div>
                </div>
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionEndDateInput" class="mission-form__block__input-wrapper__item__label">Date de
                fin</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="date" required pattern="\d{4}-\d{2}-\d{2}" class="form-control" name="missionEndDateInput"
                  [(ngModel)]="missionService.mission.endDate" #missionEndDateInput="ngModel">
                <div *ngIf="missionEndDateInput.invalid && (missionEndDateInput.dirty || missionEndDateInput.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionEndDateInput.errors['required']">
                    Ce champ est obligatoire.
                  </div>

                  <div *ngIf="missionEndDateInput.errors['pattern']">
                    La date devrait respecter aaaa-mm-jj.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mission-form__block__input-wrapper__toggle form-group">
        <label class="mission-form__block__input-wrapper__toggle__item">
          <input name="missionToggle" type="checkbox" [(ngModel)]="isConsultantFreelance" #missionToggle>
          Consultant indépendant
        </label>
      </div>
      <div class="mission-form">
        <div class="mission-form__block">
          <h4 class="mission-form__block__title">Consultant</h4>
          <div class="mission-form__block__input-wrapper">
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantNameInput"
                class="mission-form__block__input-wrapper__item__label">Nom</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control" name="missionConsultantNameInput"
                  [(ngModel)]="missionService.mission.consultant" #missionConsultantNameInput="ngModel">
                <div
                  *ngIf="missionConsultantNameInput.invalid && (missionConsultantNameInput.dirty || missionConsultantNameInput.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionConsultantNameInput.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantEmailInput"
                class="mission-form__block__input-wrapper__item__label">Email</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="email" required email class="form-control" name="missionConsultantEmailInput"
                  [(ngModel)]="missionService.mission.consultantEmail" #missionConsultantEmail="ngModel">
                <div
                  *ngIf="missionConsultantEmail.invalid && (missionConsultantEmail.dirty || missionConsultantEmail.touched)"
                  class="alert alert-danger">
                  <div *ngIf="missionConsultantEmail.errors['required']">
                    Ce champ est obligatoire
                  </div>
                  <div *ngIf="missionConsultantEmail.errors['email']">
                    Adresse mail non valide
                  </div>
                </div>
              </div>
            </div>
            <div></div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanyNameInput"
                class="mission-form__block__input-wrapper__item__label">Dénomination</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control" name="missionConsultantCompanyName"
                  [(ngModel)]="missionService.mission.consultantCompany.name" #missionConsultantCompanyName="ngModel">
                <div
                  *ngIf="missionConsultantCompanyName.invalid && (missionConsultantCompanyName.dirty || missionConsultantCompanyName.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionConsultantCompanyName.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanyAdressInput"
                class="mission-form__block__input-wrapper__item__label">Adresse</label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control" name="missionConsultantCompanyAddress"
                  [(ngModel)]="missionService.mission.consultantCompany.address"
                  #missionConsultantCompanyAddress="ngModel">
                <div
                  *ngIf="missionConsultantCompanyAddress.invalid && (missionConsultantCompanyAddress.dirty || missionConsultantCompanyAddress.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionConsultantCompanyAddress.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanyTelephoneInput"
                class="mission-form__block__input-wrapper__item__label">Téléphone
                <span class="optional">(optionnel)</span></label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" class="form-control" name="missionConsultantCompanyTelephone"
                  [(ngModel)]="missionService.mission.consultantCompany.telephone"
                  #missionConsultantCompanyTelephone="ngModel">
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanySirenInput"
                class="mission-form__block__input-wrapper__item__label">Numéro de SIREN
              </label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control" name="missionConsultantCompanySiren"
                  [(ngModel)]="missionService.mission.consultantCompany.siren" #missionConsultantCompanySiren="ngModel">
                <div
                  *ngIf="missionConsultantCompanySiren.invalid && (missionConsultantCompanySiren.dirty || missionConsultantCompanySiren.touched)"
                  class="alert alert-danger">

                  <div *ngIf="missionConsultantCompanySiren.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanytradeAndCompaniesRegisterCityInput"
                class="mission-form__block__input-wrapper__item__label">Ville d'immatriculation au RCS
              </label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" required class="form-control"
                  name="missionConsultantCompanytradeAndCompaniesRegisterCity"
                  [disabled]="missionConsultantCompanyTradeAndCompaniesRegisterExemption.checked"
                  [(ngModel)]="missionService.mission.consultantCompany.tradeAndCompaniesRegisterCity"
                  #missionConsultantCompanytradeAndCompaniesRegisterCity="ngModel">
                <div
                  *ngIf="missionConsultantCompanytradeAndCompaniesRegisterCity.invalid &&
                  (missionConsultantCompanytradeAndCompaniesRegisterCity.dirty || missionConsultantCompanytradeAndCompaniesRegisterCity.touched)"
                  class="alert alert-danger">
                  <div *ngIf="missionConsultantCompanytradeAndCompaniesRegisterCity.errors['required']">
                    Ce champ est obligatoire.
                  </div>
                </div>
                <label class="mission-form__half-block__input-wrapper__item__input__toggle">
                  <input type="checkbox" name="missionConsultantTradeAndCompaniesRegisterToggle"
                    [(ngModel)]="missionService.mission.consultantCompany.tradeAndCompaniesRegisterExemption"
                    (change)="missionService.mission.consultantCompany.tradeAndCompaniesRegisterCity = ''"
                    #missionConsultantCompanyTradeAndCompaniesRegisterExemption>
                  Dispensé d'immatriculation au RCS et au RM
                </label>
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__item form-group">
              <label for="missionConsultantCompanyVatNumberInput"
                class="mission-form__block__input-wrapper__item__label">Numéro de TVA intra-communautaire<span
                  class="optional">(optionnel)</span>
              </label>
              <div class="mission-form__block__input-wrapper__item__input">
                <input type="text" class="form-control" name="missionConsultantCompanyVatNumber"
                  [disabled]="missionConsultantCompanyVATExemption.checked"
                  [(ngModel)]="missionService.mission.consultantCompany.vatNumber"
                  #missionConsultantCompanyVatNumber="ngModel">
                <label class="mission-form__half-block__input-wrapper__item__input__toggle">
                  <input type="checkbox" name="missionConsultantToggle"
                    [(ngModel)]="missionService.mission.consultantCompany.vatExemption"
                    (change)="missionService.mission.consultantCompany.vatNumber = ''"
                    #missionConsultantCompanyVATExemption>
                  Franchise TVA
                </label>
              </div>
            </div>
            <div *ngIf="isConsultantFreelance" class="mission-form__block__input-wrapper__sub-block">
              <h4 class="mission-form__block__input-wrapper__sub-block__title">Coordonnées bancaires du consultant<span
                  class="optional">(optionnel)</span></h4>
              <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
                <div class="mission-form__block__input-wrapper__item form-group">
                  <label for="missionBankAccountHolderInput"
                    class="mission-form__block__input-wrapper__item__label">Titulaire du compte</label>
                  <div class="mission-form__block__input-wrapper__item__input">
                    <input type="text" class="form-control" name="missionBankAccountHolderInput"
                      [(ngModel)]="missionService.mission.consultantBankAccountHolder">
                  </div>
                </div>
                <div class="mission-form__block__input-wrapper__item form-group">
                  <label for="missionBankDetailsSWIFTInput"
                    class="mission-form__block__input-wrapper__item__label">SWIFT</label>
                  <div class="mission-form__block__input-wrapper__item__input">
                    <input type="text" class="form-control" name="missionBankDetailsSWIFTInput"
                      [(ngModel)]="missionService.mission.consultantBankSWIFT">
                  </div>
                </div>
              </div>
              <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
                <div class="mission-form__block__input-wrapper__sub-block__input-wrapper__item form-group">
                  <label for="missionBankDetailsIBANInput"
                    class="mission-form__block__input-wrapper__sub-block__input-wrapper__item__label">IBAN</label>
                  <div class="mission-form__block__input-wrapper__sub-block__input-wrapper__item__input">
                    <input type="text" class="form-control" name="missionBankDetailsIBANInput"
                      [(ngModel)]="missionService.mission.consultantBankIBAN">
                  </div>
                </div>
              </div>
              <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
                <div class="mission-form__block__input-wrapper__item form-group">
                  <label for="missionBankDetailsDomiciliationInput"
                    class="mission-form__block__input-wrapper__item__label">Banque</label>
                  <div class="mission-form__block__input-wrapper__item__input">
                    <input type="text" class="form-control" name="missionBankDetailsDomiciliationInput"
                      [(ngModel)]="missionService.mission.consultantBankingDomiciliation">
                  </div>
                </div>
                <div class="mission-form__block__input-wrapper__item form-group">
                  <label for="missionBankingAgencyInput"
                    class="mission-form__block__input-wrapper__item__label">Agence</label>
                  <div class="mission-form__block__input-wrapper__item__input">
                    <input type="text" class="form-control" name="missionBankingAgencyInput"
                      [(ngModel)]="missionService.mission.consultantBankingAgency">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mission-form__block">
        <h4 class="mission-form__block__title">Prestataire</h4>
        <div class="mission-form__block__input-wrapper">
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderCompanyNameInput"
              class="mission-form__block__input-wrapper__item__label">Dénomination</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionProviderCompanyNameInput"
                [(ngModel)]="missionService.mission.providerCompany.name" #missionProviderCompanyName="ngModel">
              <div
                *ngIf="missionProviderCompanyName.invalid && (missionProviderCompanyName.dirty || missionProviderCompanyName.touched)"
                class="alert alert-danger">

                <div *ngIf="missionProviderCompanyName.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderCompanyAddressInput"
              class="mission-form__block__input-wrapper__item__label">Adresse</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionProviderCompanyAddressInput"
                [(ngModel)]="missionService.mission.providerCompany.address" #missionProviderCompanyAddress="ngModel">
              <div
                *ngIf="missionProviderCompanyAddress.invalid && (missionProviderCompanyAddress.dirty || missionProviderCompanyAddress.touched)"
                class="alert alert-danger">

                <div *ngIf="missionProviderCompanyAddress.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderCompanyTelephoneInput"
              class="mission-form__block__input-wrapper__item__label">Téléphone<span
                class="optional">(optionnel)</span></label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionProviderCompanyTelephoneInput"
                [(ngModel)]="missionService.mission.providerCompany.telephone"
                #missionProviderCompanyTelephone="ngModel">
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderCompanySirenInput" class="mission-form__block__input-wrapper__item__label">Numéro
              de
              SIREN</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionProviderCompanySirenInput"
                [(ngModel)]="missionService.mission.providerCompany.siren" #missionProviderCompanySiren="ngModel">
              <div
                *ngIf="missionProviderCompanySiren.invalid && (missionProviderCompanySiren.dirty || missionProviderCompanySiren.touched)"
                class="alert alert-danger">

                <div *ngIf="missionProviderCompanySiren.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderTadeAndCompaniesRegisterCityInput"
              class="mission-form__block__input-wrapper__item__label">Ville d'immatriculation au RCS</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionProviderTadeAndCompaniesRegisterCityInput"
                [disabled]="missionProviderCompanyTradeAndCompaniesRegisterExemption.checked"
                [(ngModel)]="missionService.mission.providerCompany.tradeAndCompaniesRegisterCity"
                #missionProviderCompanyTadeAndCompaniesRegisterCity="ngModel">
              <div
                *ngIf="missionProviderCompanyTadeAndCompaniesRegisterCity.invalid &&
                (missionProviderCompanyTadeAndCompaniesRegisterCity.dirty || missionProviderCompanyTadeAndCompaniesRegisterCity.touched)"
                class="alert alert-danger">
                <div *ngIf="missionProviderCompanyTadeAndCompaniesRegisterCity.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
              <label class="mission-form__block__input-wrapper__item__input__toggle">
                <input type="checkbox" name="missionProviderTradeAndCompaniesRegisterToggle"
                  [(ngModel)]="missionService.mission.providerCompany.tradeAndCompaniesRegisterExemption"
                  (change)="missionService.mission.providerCompany.tradeAndCompaniesRegisterCity = ''"
                  #missionProviderCompanyTradeAndCompaniesRegisterExemption>
                Dispensé d'immatriculation au RCS et au RM
              </label>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionProviderCompanyVatNumberInput"
              class="mission-form__block__input-wrapper__item__label">Numéro
              de TVA intra-communautaire<span class="optional">(optionnel)</span>
            </label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionProviderCompanyVatNumberInput"
                [disabled]="missionProviderCompanyVATExemption.checked"
                [(ngModel)]="missionService.mission.providerCompany.vatNumber"
                #missionProviderCompanyVatNumber="ngModel">
              <label class="mission-form__block__input-wrapper__item__input__toggle">
                <input type="checkbox" name="missionProviderVATToggle"
                  [(ngModel)]="missionService.mission.providerCompany.vatExemption"
                  (change)="missionService.mission.providerCompany.vatNumber = ''" #missionProviderCompanyVATExemption>
                Franchise TVA
              </label>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__sub-block">
            <h4 class="mission-form__block__input-wrapper__sub-block__title">Coordonnées bancaires du prestataire<span
                class="optional">(optionnel)</span></h4>
            <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
              <div class="mission-form__block__input-wrapper__item form-group">
                <label for="missionBankAccountHolderInput"
                  class="mission-form__block__input-wrapper__item__label">Titulaire du compte</label>
                <div class="mission-form__block__input-wrapper__item__input">
                  <input type="text" class="form-control" name="missionBankAccountHolderInput"
                    [(ngModel)]="missionService.mission.providerBankAccountHolder">
                </div>
              </div>
              <div class="mission-form__block__input-wrapper__item form-group">
                <label for="missionBankDetailsSWIFTInput"
                  class="mission-form__block__input-wrapper__item__label">SWIFT</label>
                <div class="mission-form__block__input-wrapper__item__input">
                  <input type="text" class="form-control" name="missionBankDetailsSWIFTInput"
                    [(ngModel)]="missionService.mission.providerBankSWIFT">
                </div>
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
              <div class="mission-form__block__input-wrapper__sub-block__input-wrapper__item form-group">
                <label for="missionBankDetailsIBANInput"
                  class="mission-form__block__input-wrapper__sub-block__input-wrapper__item__label">IBAN</label>
                <div class="mission-form__block__input-wrapper__sub-block__input-wrapper__item__input">
                  <input type="text" class="form-control" name="missionBankDetailsIBANInput"
                    [(ngModel)]="missionService.mission.providerBankIBAN">
                </div>
              </div>
            </div>
            <div class="mission-form__block__input-wrapper__sub-block__input-wrapper">
              <div class="mission-form__block__input-wrapper__item form-group">
                <label for="missionBankDetailsDomiciliationInput"
                  class="mission-form__block__input-wrapper__item__label">Banque</label>
                <div class="mission-form__block__input-wrapper__item__input">
                  <input type="text" class="form-control" name="missionBankDetailsDomiciliationInput"
                    [(ngModel)]="missionService.mission.providerBankingDomiciliation">
                </div>
              </div>
              <div class="mission-form__block__input-wrapper__item form-group">
                <label for="missionBankingAgencyInput"
                  class="mission-form__block__input-wrapper__item__label">Agence</label>
                <div class="mission-form__block__input-wrapper__item__input">
                  <input type="text" class="form-control" name="missionBankingAgencyInput"
                    [(ngModel)]="missionService.mission.providerBankingAgency">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mission-form__block">
        <h4 class="mission-form__block__title">Client</h4>
        <div class="mission-form__block__input-wrapper">
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientNameInput" class="mission-form__block__input-wrapper__item__label">Nom</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionClientNameInput"
                [(ngModel)]="missionService.mission.client" #missionClientNameInput="ngModel">
              <div
                *ngIf="missionClientNameInput.invalid && (missionClientNameInput.dirty || missionClientNameInput.touched)"
                class="alert alert-danger">

                <div *ngIf="missionClientNameInput.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientEmailInput" class="mission-form__block__input-wrapper__item__label">Email</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="email" required email class="form-control" name="missionClientEmailInput"
                [(ngModel)]="missionService.mission.clientEmail" #missionClientEmailInput="ngModel">
              <div
                *ngIf="missionClientEmailInput.invalid && (missionClientEmailInput.dirty || missionClientEmailInput.touched)"
                class="alert alert-danger">
                <div *ngIf="missionClientEmailInput.errors['required']">
                  Ce champ est obligatoire
                </div>
                <div *ngIf="missionClientEmailInput.errors['email']">
                  Adresse mail non valide
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanyNameInput"
              class="mission-form__block__input-wrapper__item__label">Dénomination</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionClientCompanyNameInput"
                [(ngModel)]="missionService.mission.clientCompany.name" #missionClientCompanyName="ngModel">
              <div *ngIf="missionClientCompanyName.invalid &&
                 (missionClientCompanyName.dirty || missionClientCompanyName.touched)" class="alert alert-danger">

                <div *ngIf="missionClientCompanyName.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanyAddressInput"
              class="mission-form__block__input-wrapper__item__label">Adresse</label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionClientCompanyAddressInput"
                [(ngModel)]="missionService.mission.clientCompany.address" #missionClientCompanyAddress="ngModel">
              <div
                *ngIf="missionClientCompanyAddress.invalid && (missionClientCompanyAddress.dirty || missionClientCompanyAddress.touched)"
                class="alert alert-danger">

                <div *ngIf="missionClientCompanyAddress.errors['required']">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanyTelephoneInput"
              class="mission-form__block__input-wrapper__item__label">Téléphone<span
                class="optional">(optionnel)</span></label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionClientCompanyTelephoneInput"
                [(ngModel)]="missionService.mission.clientCompany.telephone" #missionClientCompanyTelephone="ngModel">
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanySirenInput" class="mission-form__half-block__input-wrapper__item__label">
              Numéro de SIREN<span class="optional">(optionnel)</span>
            </label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionClientCompanySirenInput"
                [(ngModel)]="missionService.mission.clientCompany.siren" #missionClientCompanySiren="ngModel">
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanyTradeAndCompaniesRegisterCityInput"
              class="mission-form__block__input-wrapper__item__label">
              Ville d'immatriculation au RCS<span class="optional">(optionnel)</span>
            </label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionClientCompanyTradeAndCompaniesRegisterCityInput"
                [disabled]="missionClientCompanyTradeAndCompaniesRegisterExemption.checked"
                [(ngModel)]="missionService.mission.clientCompany.tradeAndCompaniesRegisterCity"
                #missionClientCompanyTradeAndCompaniesRegisterCity="ngModel">
              <label class="mission-form__block__input-wrapper__item__input__toggle">
                <input type="checkbox" name="missionClientTradeAndCompaniesRegisterToggle"
                  [(ngModel)]="missionService.mission.clientCompany.tradeAndCompaniesRegisterExemption"
                  (change)="missionService.mission.clientCompany.tradeAndCompaniesRegisterCity = ''"
                  #missionClientCompanyTradeAndCompaniesRegisterExemption>
                Dispensé d'immatriculation au RCS et au RM
              </label>
            </div>
          </div>
          <div class="mission-form__block__input-wrapper__item form-group">
            <label for="missionClientCompanyVatNumberInput"
              class="mission-form__block__input-wrapper__item__label">Numéro
              de TVA intra-communautaire<span class="optional">(optionnel)</span></label>
            <div class="mission-form__block__input-wrapper__item__input">
              <input type="text" class="form-control" name="missionClientCompanyVatNumberInput"
                [(ngModel)]="missionService.mission.clientCompany.vatNumber" #missionClientCompanyVatNumber="ngModel">
            </div>
          </div>
          <div *ngIf="false" class="mission-form__block__input-wrapper__item form-group">
            <button class="mission-form__block__input-wrapper__item__button">
              <span>+</span>
            </button>
          </div>
        </div>
      </div>

      <div class="mission-edit__wrapper__submit">
        <button data-text="Créer cette mission" class="mission-edit__wrapper__submit__button" (click)="onSubmit()">
          <span>Créer cette mission</span>
        </button>

        <button data-text="Retour" class="mission-edit__wrapper__submit__button" [routerLink]="['/dashboard']">
          <span>Retour</span>
        </button>
      </div>
      <div *ngIf="showLink === true" id="action-links" class="mission-edit__wrapper__icons">
        <div class="mission-edit__wrapper__icons__item">
          <a href="#" (click)="reactToCopy()" [copyToClipboard]="editUrl"
            [copyToClipboardMessage]="'Lien de création de CRA copié'"
            [copyToClipboardMessageParent]="editLink.parentNode" #editLink>
            <i class="material-icons">edit</i>
            <span>Copier le lien de création de CRA</span>
            <span *ngIf="commentary" class="commentary">Ceci vous fournira un lien permettant de créer un CRA contenant
              les informations relatives à votre mission</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div> -->
