@import "src/app/style/vars";
@import "src/app/style/mixins";

.mission-form {
  width: 100%;

  &__block {
    @media (min-width: $screen-sm-min) {
      margin: 30px 0px;
    }
    margin: 20px 0px;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;
      display: flex;
      flex-wrap: wrap;

      &__item {
        @media (min-width: $screen-sm-min) {
          width: calc(50% - 10px);
          margin: 0 5px;
          margin-bottom: 20px;
        }
          width: calc(100% - 10px);
          margin: 0 5px;
          margin-bottom: 20px;
      }

        &__title {
          @include sub-heading;
        }

        &__input-wrapper {
          @include form-input;
          display: flex;
          flex-wrap: wrap;
          background: $white;
          border-bottom: none;

          &:first-of-type {
            border-top: 1px solid $grey_border_dark;
          }

          &:last-of-type {
            border-bottom: 1px solid $grey_border_dark;
          }

          &__item {
            width: 100%;
            margin: 0px;
          }
        }
    }
  }

  &__half-block {
    @media (min-width: $screen-sm-min) {
      width: calc(50% - 20px);
    }

    display: inline-table;
    width: 100%;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;
    }
  }
}

.optional{
  padding-left: 5px;
  font-size: 13px;
}

#client {
  @media (min-width: $screen-sm-min) {
    margin-left: 40px;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid ;
}

.mission-edit {
  &__wrapper {
    @include container;

    @media (min-width: $screen-sm-min) {
      padding: 40px;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 30px;
    }

    margin-top: 10px;
    background: $white;
    padding: 20px;
    box-shadow: 0 0 8px rgba($black, 0.2);

    &__title {
      font-size: 22px;
      color: $grey_mine_shaft;
      margin-bottom: 40px;

      & > h2 {
        @media (min-width: $screen-sm-min) {
          font-size: 28px;
        }

        font-weight: 700;
        font-size: 20px;
      }
    }

    &__form {
      @media (min-width: $screen-sm-min) {
        margin-top: 45px;
      }

      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;

      &__message {
        min-height: 50px;
        line-height: 50px;
        width: 100%;
        border-radius: 5px;
        text-align: center;

        &--success {
          background-color: $green_valid;
        }

        &--error {
          color: white;
          font-weight: 700;
          background-color: $red_error;
        }
      }
      &__buttons {

        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;

        &__item {
          @include hoveranim_glow($darker_blue);

          border: none;
          background: $dark_blue;
          padding: 0;
          cursor: pointer;
          width: 40%;
          height: 60px;
          min-width: 220px;
          line-height: 60px;
          color: $white;
          font-size: 20px;
          font-weight: 700;
        }
      }

      &__icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 40px;
        width: 100%;

        &__item {
          @media (min-width: $screen-sm-min) {
            width: calc(100% / 4 - 40px);
          }

          margin: 20px;
          width: calc(100% - 40px);

          &__disabled {
            cursor: not-allowed;
          }

          > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &:hover,
            &:focus,
            &:active {
              color: initial;
              text-decoration: none;

              span {
                text-decoration: underline;
              }
            }

            i,
            span {
              color: initial;
            }

            i {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
