<app-header></app-header>
<div class="timesheet-edit">
  <div class="timesheet-edit__wrapper">
    <div class="timesheet-edit__wrapper__title">
      <h2>{{ getModeTitle() }} un compte rendu d'activité</h2>
    </div>

    <div *ngIf="!ready">
      <i class="material-icons timesheet-edit__wrapper__spinner">rotate_right</i>
    </div>

    <form class="timesheet-edit__wrapper__form" #form="ngForm">
      <div id="consultant" class="timesheet-edit__wrapper__form__block" *ngIf="ready">
        <h4 class="timesheet-edit__wrapper__form__block__title">Consultant</h4>
        <div class="timesheet-edit__wrapper__form__block__input-wrapper">
          <div class="timesheet-edit__wrapper__form__block__input-wrapper__item form-group">
            <label for="consultantNameInput"
              class="timesheet-edit__wrapper__form__block__input-wrapper__item__label">Nom</label>
            <div class="timesheet-edit__wrapper__form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="consultantNameInput"
                [(ngModel)]="timesheetService.timesheet.consultant.name" #consultantNameInput="ngModel"
                data-cy="consultant-name-input">
              <div *ngIf="consultantNameInput.invalid && (consultantNameInput.dirty || consultantNameInput.touched)"
                class="alert alert-danger">
                <div *ngIf="consultantNameInput.errors['required']">
                  Ce champ est obligatoire
                </div>
              </div>
            </div>
          </div>
          <div class="timesheet-edit__wrapper__form__block__input-wrapper__item form-group">
            <label for="consultantEmailInput"
              class="timesheet-edit__wrapper__form__block__input-wrapper__item__label">Email</label>
            <div class="timesheet-edit__wrapper__form__block__input-wrapper__item__input">
              <input type="email" required email class="form-control" name="consultantEmailInput"
                [(ngModel)]="timesheetService.timesheet.consultant.email" #consultantEmailInput="ngModel"
                data-cy="consultant-email-input">
              <div *ngIf="consultantEmailInput.invalid && (consultantEmailInput.dirty || consultantEmailInput.touched)"
                class="alert alert-danger">
                <div *ngIf="consultantEmailInput.errors['required']">
                  Ce champ est obligatoire
                </div>
                <div *ngIf="consultantEmailInput.errors['email']">
                  Adresse mail non valide
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mission" class="timesheet-edit__wrapper__form__block" *ngIf="ready">
        <h4 class="timesheet-edit__wrapper__form__block__title">Mission</h4>
        <div class="timesheet-edit__wrapper__form__block__input-wrapper">
          <div class="timesheet-edit__wrapper__form__block__input-wrapper__item form-group">
            <label for="missionTitleInput"
              class="timesheet-edit__wrapper__form__block__input-wrapper__item__label">Intitulé</label>
            <div class="timesheet-edit__wrapper__form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionTitleInput"
                [(ngModel)]="timesheetService.timesheet.mission.title" #missionTitleInput="ngModel"
                data-cy="mission-title-input">
              <div *ngIf="missionTitleInput.invalid && (missionTitleInput.dirty || missionTitleInput.touched)"
                class="alert alert-danger">
                <div *ngIf="missionTitleInput.errors['required']">
                  Ce champ est obligatoire
                </div>
              </div>
            </div>
          </div>

          <div class="timesheet-edit__wrapper__form__block__input-wrapper__item form-group">
            <label for="missionFinalClient"
              class="timesheet-edit__wrapper__form__block__input-wrapper__item__label">Client
              final</label>
            <div class="timesheet-edit__wrapper__form__block__input-wrapper__item__input">
              <input type="text" required class="form-control" name="missionFinalClientInput"
                data-cy="mission-final-client-input"
                [(ngModel)]="timesheetService.timesheet.mission.client?.company.name"
                #missionFinalClientInput="ngModel">
              <div
                *ngIf="missionFinalClientInput.invalid && (missionFinalClientInput.dirty || missionFinalClientInput.touched)"
                class="alert alert-danger">
                <div *ngIf="missionFinalClientInput.errors['required']">
                  Ce champ est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timesheet-edit__wrapper__form__component" *ngIf="ready">
        <h4 class="timesheet-edit__wrapper__form__component__title">Détail de l'intervention</h4>
        <app-calendar-selector [minifiedTimesheet]="timesheetService.timesheet.workingDays" [picking]="true"
          [selectedTimeUnit]="timesheetService.timesheet.mission.unitOfWorkType" (changed)="onUserInput()">
        </app-calendar-selector>
      </div>

      <div class="timesheet-edit__wrapper__form__component" *ngIf="ready">
        <label class="timesheet-edit__wrapper__form__component__toggle">
          <input name="commutesToggle" type="checkbox" [(ngModel)]="generateExpenses" #commutesToggle
            data-cy="commutes-toggle">
          Ajouter des frais
        </label>
        <app-expense-mileage-form *ngIf="generateExpenses" [commutes]="timesheetService.timesheet.commutes"
          (changed)="onUserInput()"></app-expense-mileage-form>
        <app-expense-miscellaneous-form *ngIf="generateExpenses"
          [miscellaneous]="timesheetService.timesheet.miscellaneous" (changed)="onUserInput()">
        </app-expense-miscellaneous-form>
        <app-expense-flat-fee-form *ngIf="generateExpenses" [flatFees]="timesheetService.timesheet.flatFees"
          (changed)="onUserInput()"></app-expense-flat-fee-form>
      </div>

      <div class="timesheet-edit__wrapper__form__component" *ngIf="ready && canGenerateInvoice">
        <label class="timesheet-edit__wrapper__form__component__toggle">
          <input name="invoiceToggle" type="checkbox" [(ngModel)]="generateInvoice" #invoiceToggle
            data-cy="generate-invoice-toggle">
          Générer une facture
        </label>
        <app-invoice-form *ngIf="generateInvoice" [invoice]="timesheetService.timesheet.invoice"
          [mission]="timesheetService.timesheet.mission" (changed)="onUserInput()"></app-invoice-form>
      </div>

      <div class="timesheet-edit__wrapper__form__submit" *ngIf="ready">
        <button data-text="Valider mon CRA" class="timesheet-edit__wrapper__form__submit__button" (click)="onSubmit()"
          data-cy="submit-timesheet-btn">
          <span>Valider mon CRA</span>
        </button>
        <button *ngIf="this.auth.isAuthenticated" data-text="Retour"
          class="timesheet-edit__wrapper__form__submit__button" [routerLink]="['/dashboard']"
          data-cy="return-to-home-btn">
          <span>Retour</span>
        </button>
      </div>

      <div *ngIf="showLinks" id="action-links" class="timesheet-edit__wrapper__form__icons">
        <div *ngIf="generateInvoice" class="timesheet-edit__wrapper__form__icons__item">
          <a target="_self" [href]="timesheetService.getInvoiceLink()" data-cy="download-invoice-link">
            <i class="material-icons">cloud_download</i>
            <span>Télécharger la facture</span>
          </a>
        </div>
        <div class="timesheet-edit__wrapper__form__icons__item">
          <a href="#" [mailto] [mailContent]="reviewMail">
            <i class="material-icons">email</i>
            <span>Envoyer le CRA par mail</span>
          </a>
        </div>
        <div class="timesheet-edit__wrapper__form__icons__item">
          <a href="#" [copyToClipboard]="editShortUrl" [copyToClipboardMessage]="'Lien de modification copié'"
            data-cy="copy-edit-timesheet-link" [copyToClipboardMessageParent]="editLink.parentNode" #editLink>
            <i class="material-icons">edit</i>
            <span>Copier le lien de modification</span>
          </a>
        </div>
        <div class="timesheet-edit__wrapper__form__icons__item">
          <a href="#" [copyToClipboard]="reviewShortUrl" [copyToClipboardMessage]="'Lien de partage copié'"
            [copyToClipboardMessageParent]="shareLink.parentNode" #shareLink data-cy="copy-review-timesheet-link"
            [attr.data-cy-link]="reviewShortUrl">
            <i class="material-icons">remove_red_eye</i>
            <span>Copier le lien de partage</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>