@import 'src/app/style/vars';
@import 'src/app/style/mixins';

.timesheet-form {
  width: 100%;

  &__block {
    margin: 20px 0;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;

      display: flex;
      flex-wrap: wrap;

      &__item {
        margin: 0 5px;
        margin-bottom: 20px;
        width: calc(100% - 10px);

        @media (min-width: $screen-sm-min) {
          margin: 0 5px;
          margin-bottom: 20px;
          width: calc(50% - 10px);
        }
      }

      &__title {
        @include sub-heading;
      }

      &__input-wrapper {
        @include form-input;

        display: flex;
        flex-wrap: wrap;
        border-bottom: none;
        background: $white;

        &:first-of-type {
          border-top: 1px solid $grey_border_dark;
        }

        &:last-of-type {
          border-bottom: 1px solid $grey_border_dark;
        }

        &__item {
          margin: 0;
          width: 100%;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      margin: 30px 0;
    }
  }

  &__half-block {
    display: inline-table;
    width: 100%;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;
    }

    @media (min-width: $screen-sm-min) {
      width: calc(50% - 20px);
    }
  }
}

.optional {
  padding-left: 5px;
  font-size: 13px;
}

#client {
  @media (min-width: $screen-sm-min) {
    margin-left: 40px;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid;
}

.timesheet-edit {
  &__wrapper {
    @include container;

    margin-top: 10px;
    box-shadow: 0 0 8px rgba($black, 0.2);
    background: $white;
    padding: 20px;

    &__title {
      margin-top: 20px;
      color: $grey_mine_shaft;
      font-size: 22px;

      & > h2 {
        font-size: 20px;
        font-weight: 700;

        @media (min-width: $screen-sm-min) {
          font-size: 28px;
        }
      }
    }

    &__form {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;

      &__block {
        width: 100%;

        &__title {
          @include header-form;
        }

        &__input-wrapper {
          @include form-input;
        }

        &#consultant {
          @media (min-width: $screen-sm-min) {
            margin-right: 20px;
          }
        }

        &#mission {
          margin-top: 20px;

          @media (min-width: $screen-sm-min) {
            margin-top: 0;
            margin-left: 20px;
          }
        }

        @media (min-width: $screen-sm-min) {
          width: calc(50% - 20px);
        }
      }

      &__component {
        margin-top: 30px;
        width: 100%;

        &__title {
          @include header-form;
        }
      }

      &__message {
        border-radius: 5px;
        width: 100%;
        min-height: 50px;
        text-align: center;
        line-height: 50px;

        &--success {
          background-color: $green_valid;
        }

        &--error {
          background-color: $red_error;
          color: white;
          font-weight: 700;
        }
      }

      &__submit {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;

        &__button {
          @include hoveranim_glow($darker_blue);

          display: inline-block;
          border: none;
          background: $dark_blue;
          cursor: pointer;
          padding: 0;
          width: 40%;
          min-width: 220px;
          height: 60px;
          line-height: 60px;
          color: $white;
          font-size: 20px;
          font-weight: 700;
        }
      }

      &__icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 40px;
        width: 100%;

        &__item {
          margin: 20px;
          width: calc(100% - 40px);

          &__disabled {
            cursor: not-allowed;
          }

          > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &:hover,
            &:focus,
            &:active {
              text-decoration: none;
              color: initial;

              span {
                text-decoration: underline;
              }
            }

            i,
            span {
              color: initial;
            }

            i {
              font-size: 40px;
            }
          }

          @media (min-width: $screen-sm-min) {
            width: calc(100% / 4 - 40px);
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        margin-top: 45px;
      }
    }

    @media (min-width: $screen-sm-min) {
      padding: 40px;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 30px;
    }
  }
}
