@import 'src/app/style/vars';

h1 {
  font-size: 32px;
}

h2 {
  font-size: 19px;
}

#invoice {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1.5cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position:relative;
  font-size: 12px;
}

.headers-table, .price-details-table {
	width: 100%;
  margin-bottom: 50px;
}

.headers-table {
  tr {
    vertical-align: initial;
    font-size: 10pt;
  }
}

.fifty {
  width: 49%;
  padding: 5px;
}

#client {
	text-align: right;
}

.invoice-date {
	margin-top: 50px;
	margin-bottom: 5px;
}

.price-details-table {
  border: 1px solid;
  .separator {
    border-bottom: 1px solid;
  }
}

.summary {
  p {
    margin-bottom: 2px;
  }
}

.empty_spacer {
  width: 16%;
}

.total {
  text-align: right;
  vertical-align: initial;
  width: 34%;
}

.bigger {
  font-weight: bold;
  font-size: 15pt;
}

.footer{
  position:absolute;
  bottom: 10px;
  width: calc(100% - 3cm);
  font-size: 8px;
  text-align: center;
}
