<div class="invoice">
  <div class="invoice__header">
    <div class="invoice__header__provider">
      <div class="invoice__header__provider__name">
        {{ timesheetService.timesheet.invoice.provider.name }}
      </div>
      <div class="adress-height" [innerHTML]="timesheetService.timesheet.invoice.provider.address"></div>
      <div *ngIf="timesheetService.timesheet.invoice.provider.telephone">
        Tel : {{ timesheetService.timesheet.invoice.provider.telephone }}
      </div>
      <div *ngIf="!timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
        {{ timesheetService.timesheet.invoice.provider.siren }} R.C.S.
        {{ timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterCity }}
      </div>
      <div *ngIf="timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
        SIREN : {{ timesheetService.timesheet.invoice.provider.siren }}
      </div>
      <div *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
        N° TVA : {{ timesheetService.timesheet.invoice.provider.vatNumber }}
      </div>
      <div *ngIf="timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
        Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM)
      </div>
    </div>
    <div class="invoice__header__client">
      <div class="invoice__header__client__name">
        {{ timesheetService.timesheet.invoice.client.name }}
      </div>
      <div class="adress-height" [innerHTML]="timesheetService.timesheet.invoice.client.address"></div>
      <div *ngIf="timesheetService.timesheet.invoice.client.telephone">
        Tel : {{ timesheetService.timesheet.invoice.client.telephone }}
      </div>
      <div *ngIf="!timesheetService.timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
        {{ timesheetService.timesheet.invoice.client.siren }} R.C.S.
        {{ timesheetService.timesheet.invoice.client.tradeAndCompaniesRegisterCity }}
      </div>
      <div *ngIf="timesheetService.timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
        SIREN : {{ timesheetService.timesheet.invoice.client.siren }}
      </div>
      <div *ngIf="!!timesheetService.timesheet.invoice.client.vatNumber">
        N° TVA : {{ timesheetService.timesheet.invoice.client.vatNumber }}
      </div>
      <div *ngIf="timesheetService.timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
        Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM)
      </div>
    </div>
  </div>

  <div class="invoice__reference">
    <div class="invoice__reference__invoice">FACTURE N°
      <span class="invoice__reference__invoice__number">{{ timesheetService.timesheet.invoice.number }}</span>
    </div>
    <div class="invoice__reference__order">
      <div class="invoice__reference__order__left" *ngIf="timesheetService.timesheet.invoice.clientRef">Réf client :
        <span class="invoice__reference__order__number">{{ timesheetService.timesheet.invoice.clientRef }}</span>
      </div>
      <div [ngClass]="{'invoice__reference__order__right': timesheetService.timesheet.invoice.clientRef,
                      'invoice__reference__order__left' : !timesheetService.timesheet.invoice.clientRef
                    }">Date :
        <span class="invoice__reference__order__number">{{ formatDate(timesheetService.timesheet.invoice.date) }}</span>
      </div>
    </div>
  </div>

  <div class="invoice__table">
    <table>
      <thead>
        <th class="invoice__table__left-text">Produit ou prestation</th>
        <th>Prix unitaire H.T</th>
        <th id="QuantityColSize">Qt</th>
        <th *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">Taux de T.V.A</th>
        <th>Total H.T</th>
        <th *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">Total T.T.C</th>
      </thead>
      <tbody>
        <tr *ngIf="workedTime > 0">
          <td class="invoice__table__left-text">Journée d’intervention {{ timesheetService.timesheet.mission.title }}
          </td>
          <td>{{ timesheetService.timesheet.invoice.dailyRate | currency:currencyCode:"symbol":"1.2-2":local }}</td>
          <td>{{ workedTime }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ monetaryService.vatRates.normal / 100 | percent:"1.2-2":local }}</td>
          <td>{{ performanceTotal | currency:currencyCode:"symbol":"1.2-2":local }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ performanceTotal * ( 1 + monetaryService.vatRates.normal / 100 ) | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
        </tr>

        <tr *ngIf="expenseMileageTotal > 0">
          <td class="invoice__table__left-text">{{ expenseMileageTitle }}</td>
          <td>{{ expenseMileageTotal | currency:currencyCode:"symbol":"1.2-2":local }}</td>
          <td>{{ expenseMileageQuantity }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ monetaryService.vatRates.normal / 100 | percent:"1.2-2":local  }}</td>
          <td>{{ expenseMileageTotal | currency:currencyCode:"symbol":'1.2-2':local }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ expenseMileageTotal * ( 1 + monetaryService.vatRates.normal / 100 ) | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
        </tr>

        <tr *ngFor="let value of flatFeesTotal.amounts; let i = index">
          <td class="invoice__table__left-text">{{ expenseFlatFeeTitle }}</td>
          <td>{{ flatFeesTotal.amounts[i] | currency:currencyCode:"symbol":'1.2-2':local }}</td>
          <td>{{ flatFeesTotal.quantity[i] }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ monetaryService.vatRates.normal / 100 | percent:"1.2-2":local  }}</td>
          <td> {{ flatFeesTotal.amounts[i] * flatFeesTotal.quantity[i] | currency:currencyCode:"symbol":'1.2-2':local}}
          </td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ flatFeesTotal.amounts[i]
                * flatFeesTotal.quantity[i]
                * ( 1 + monetaryService.vatRates.normal / 100 ) | currency:currencyCode:"symbol":"1.2-2":local }}</td>
        </tr>

        <tr *ngFor="let miscDeductible of sortByMiscsVatState().deductible">
          <td class="invoice__table__left-text">Frais sur justificatifs - TVA déductible</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.amount / ( 1 + miscDeductible.vatRate / 100) | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
          <td *ngIf="timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.amount | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
          <td> 1 </td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.vatRate / 100 | percent:"1.2-2":local }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.amount / ( 1 + miscDeductible.vatRate / 100) | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
          <td *ngIf="timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.amount | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ miscDeductible.amount | currency:currencyCode:"symbol":"1.2-2":local }}</td>
        </tr>

        <tr *ngIf="sortByMiscsVatState().nondeductible.amount > 0">
          <td class="invoice__table__left-text">Frais sur justificatifs - TVA non déductible</td>
          <td> {{ sortByMiscsVatState().nondeductible.amount | currency:currencyCode:"symbol":"1.2-2":local }} </td>
          <td> 1 </td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ monetaryService.vatRates.normal / 100 | percent:"1.2-2":local }}</td>
          <td>{{ sortByMiscsVatState().nondeductible.amount | currency:currencyCode:"symbol":"1.2-2":local }}</td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
            {{ sortByMiscsVatState().nondeductible.amount * (1 + monetaryService.vatRates.normal / 100) | currency:currencyCode:"symbol":"1.2-2":local }}
          </td>
        </tr>

        <tr
          *ngIf="(workedTime > 0 ? 1 : 0) + (expenseMileageTotal > 0 ? 1 : 0) + (expenseFlatFeeTotal > 0 ? 1 : 0) + sortByMiscsVatState().deductible.length  + (sortByMiscsVatState().nondeductible.amount > 0 ? 1 : 0) < 2">
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
        </tr>

        <tr
          *ngIf="(workedTime > 0 ? 1 : 0) + (expenseMileageTotal > 0 ? 1 : 0) + (expenseFlatFeeTotal > 0 ? 1 : 0) + sortByMiscsVatState().deductible.length  + (sortByMiscsVatState().nondeductible.amount > 0 ? 1 : 0) < 3">
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
        </tr>

        <tr
          *ngIf="(workedTime > 0 ? 1 : 0) + (expenseMileageTotal > 0 ? 1 : 0) + (expenseFlatFeeTotal > 0 ? 1 : 0) + sortByMiscsVatState().deductible.length  + (sortByMiscsVatState().nondeductible.amount > 0 ? 1 : 0) < 4">
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
          <td></td>
          <td *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="invoice__total">
    <table>
      <tr>
        <td class="invoice__total__label">
          <p>
            Total HT
          </p>
          <br>
          <p *ngFor="let vat of totalVat">
            <span>
              Montant TVA {{ vat.rate / 100 | percent:"1.2-2":local }}
            </span>
          </p>
        </td>
        <td></td>
        <td class="invoice__total__value">
          <p>{{ totalHT | currency:currencyCode:"symbol":'1.2-2':local }}</p>
          <br>
          <p *ngFor="let vat of totalVat">
            <span class="invoice__total__vat">
              {{ vat.amount | currency:currencyCode:"symbol":'1.2-2':local }}
            </span>
          </p>
        </td>
      </tr>
      <tr *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption"></tr>
      <tr *ngIf="!timesheetService.timesheet.invoice.provider.vatExemption">
        <td id="totalTTC" class="invoice__total__label">Total TTC</td>
        <td></td>
        <td id="valueTotalTTC" class="invoice__total__value">
          {{ totalTTC | currency:currencyCode:"symbol":'1.2-2':local }}</td>
      </tr>
      <tr *ngIf="timesheetService.timesheet.invoice.provider.vatExemption">
        <td class="invoice__total__no-vat" colspan="3">
          TVA non applicable, art 293 B du CGI
        </td>
      </tr>
    </table>
  </div>

  <div class="invoice__additional-information">
    <table>
      <tr>
        <td id="global-information">
          <div class="invoice__additional-information__title">Informations sur la prestation</div>
          <div>
            Consultant chargé de la prestation :
            <span
              class="invoice__additional-information__bolding">{{ timesheetService.timesheet.consultant.name }}</span>
          </div>
          <div>
            Date d’exécution :
            <span class="invoice__additional-information__bolding">{{ formatDuration() }}</span>
          </div>
          <div>
            Date de règlement :
            <span
              class="invoice__additional-information__bolding">{{ formatDate(timesheetService.timesheet.invoice.paymentDate) }}</span>
          </div>
          <div *ngIf="timesheetService.timesheet.invoice.paymentModality">
            Modalités de paiement :
            <span
              class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.paymentModality }}</span>
          </div>
          <div *ngIf="timesheetService.timesheet.invoice.paymentLatePenalty" id="penalty">
            Tout retard de paiement donnera lieu, en plus des pénalités de retard (10 % par an), au versement d'une
            indemnité
            forfaitaire de 40€ pour frais de recouvrement.
          </div>
        </td>
        <td *ngIf="timesheetService.timesheet.invoice.isBankingDetails()"></td>
        <td *ngIf="timesheetService.timesheet.invoice.isBankingDetails()" id="bank-information">
          <div>
            <div class="invoice__additional-information__title">Coordonnées bancaires</div>
            <div>Titulaire du compte :
              <span
                class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.bankAccountHolder }}</span>
            </div>
            <div>Banque :
              <span
                class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.bankingDomiciliation }}</span>
            </div>
            <div>Agence :
              <span
                class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.bankingAgency }}</span>
            </div>
            <div>IBAN :
              <span
                class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.bankIBAN }}</span>
            </div>
            <div>SWIFT :
              <span
                class="invoice__additional-information__bolding">{{ timesheetService.timesheet.invoice.bankSWIFT }}</span>
            </div>
          </div>
        </td>
        <td *ngIf="timesheetService.timesheet.invoice.isBankingDetails()"></td>
      </tr>
    </table>
  </div>

  <div class="invoice__footer">
    <div>
      {{ timesheetService.timesheet.invoice.provider.name }}
      -
      {{ timesheetService.timesheet.invoice.provider.address }}
      -
      <span *ngIf="timesheetService.timesheet.invoice.provider.telephone">Tel :
        {{ timesheetService.timesheet.invoice.provider.telephone }} - </span>
      <span *ngIf="!timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">R.C.S.
        {{ timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterCity }} </span>
      <span *ngIf="timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">SIREN : </span>
      {{ timesheetService.timesheet.invoice.provider.siren }}
    </div>
  </div>
  <div class="invoice__tables">
    <div class="invoice__tables__expenses" id="left-text" *ngIf="timesheetService.timesheet.commutes.length > 0">
      <p>Détail des indemnités kilométriques :</p>
      <app-expense-mileage-table [hideDeleteButton]="true">
      </app-expense-mileage-table>
    </div>

    <div class="invoice__tables__expenses" id="left-text" *ngIf="timesheetService.timesheet.miscellaneous.length > 0">
      <p>Détail des frais sur justificatif :</p>
      <app-expense-miscellaneous-table [hideDeleteButton]="true">
      </app-expense-miscellaneous-table>
    </div>

    <div class="invoice__tables__expenses" *ngIf="timesheetService.timesheet.flatFees.length > 0">
      <p>Détail des déplacements forfaitaires :</p>
      <app-expense-flat-fee-table [hideDeleteButton]="true">
      </app-expense-flat-fee-table>
    </div>
  </div>
  <div class="invoice__footer__second-page">
    <div>
      {{ timesheetService.timesheet.invoice.provider.name }}
      -
      {{ timesheetService.timesheet.invoice.provider.address }}
      -
      <span *ngIf="timesheetService.timesheet.invoice.provider.telephone">Tel :
        {{ timesheetService.timesheet.invoice.provider.telephone }} - </span>
      <span *ngIf="!timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">R.C.S.
        {{ timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterCity }} </span>
      <span *ngIf="timesheetService.timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">SIREN : </span>
      {{ timesheetService.timesheet.invoice.provider.siren }}
    </div>
  </div>
</div>
