<div class="invoice">
  <div class="invoice__header">
    <div class="invoice__header__provider">
      <div class="invoice__header__provider__name">
        {{ timesheet.invoice.provider.name }}
      </div>
      <div [innerHTML]="timesheet.invoice.provider.getFormattedAddress()"></div>
      <div *ngIf="timesheet.invoice.provider.telephone">
        Tel : {{ timesheet.invoice.provider.getFormattedTelephoneNumber() }}
      </div>
      <div *ngIf="!timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
          {{ timesheet.invoice.provider.getFormattedSIRENNumber() }} R.C.S. {{ timesheet.invoice.provider.tradeAndCompaniesRegisterCity }}
      </div>
      <div *ngIf="timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
          SIREN : {{ timesheet.invoice.provider.getFormattedSIRENNumber() }}
      </div>
      <div *ngIf="!timesheet.invoice.provider.vatExemption">
        N° TVA intra-communautaire : {{ timesheet.invoice.provider.vatNumber }}
      </div>
      <div *ngIf="timesheet.invoice.provider.siren.length >= 14 ">
        SIRET : {{ timesheet.invoice.provider.siren }}
      </div>
      <div *ngIf="timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">
        Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM)
      </div>
    </div>
    <div class="invoice__header__client">
      <div class="invoice__header__client__name">
        {{ timesheet.invoice.client.name }}
      </div>
      <div [innerHTML]="timesheet.invoice.client.getFormattedAddress()"></div>
      <div *ngIf="timesheet.invoice.client.telephone">
        Tel : {{ timesheet.invoice.client.getFormattedTelephoneNumber() }}
      </div>
      <div *ngIf="!timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
          {{ timesheet.invoice.client.getFormattedSIRENNumber() }} R.C.S. {{ timesheet.invoice.client.tradeAndCompaniesRegisterCity }}
      </div>
      <div *ngIf="timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
          SIREN : {{ timesheet.invoice.client.getFormattedSIRENNumber() }}
      </div>
      <div *ngIf="!timesheet.invoice.client.vatExemption">
        N° TVA intra-communautaire : {{ timesheet.invoice.client.vatNumber }}
      </div>
      <div *ngIf="timesheet.invoice.client.siren.length >= 14 ">
        SIRET : {{ timesheet.invoice.client.siren }}
      </div>
      <div *ngIf="timesheet.invoice.client.tradeAndCompaniesRegisterExemption">
        Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers (RM)
      </div>
    </div>
  </div>

  <div class="invoice__reference">
    <div class="invoice__reference__number">FACTURE N° {{ timesheet.invoice.number }}</div>
    <div
      class="invoice__reference__order"
      *ngIf="timesheet.invoice.clientRef"
    >
      <b>Référenceclient :</b> {{ timesheet.invoice.clientRef }}
    </div>
    <div class="invoice__reference__date">Date : {{ formatDate(timesheet.invoice.date) }}</div>
  </div>

  <div class="invoice__table">
    <table>
      <thead>
        <th>DESIGNATION DES PRODUITS OU PRESTATIONS</th>
        <th>PRIX UNITAIRE HT</th>
        <th>QUANTITE</th>
        <th>TOTAL HT</th>
      </thead>
      <tbody>
        <tr>
          <td>Journée d’intervention {{ timesheet.mission.title }}</td>
          <td>{{ timesheet.invoice.dailyRate | currency:currencyCode:"symbol":'1.0-3':local }}</td>
          <td>{{ workedTime }}</td>
          <td>{{ totalHT | currency:currencyCode:"symbol":'1.0-3':local }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="invoice__additional-information">
    <div>Date de règlement : {{ formatDate(timesheet.invoice.paymentDate) }}</div>
    <div
      *ngIf="timesheet.invoice.paymentModality"
    >
      Modalités de paiement : {{ timesheet.invoice.paymentModality }}
    </div>
    <div>
      Date d’exécution de la vente
      <br/>
      ou de la prestation : {{ formatDuration() }}
    </div>
    <div>
      Consultant chargé de la prestation : {{ timesheet.consultant.name }}
    </div>
    <div
      *ngIf="timesheet.invoice.paymentLatePenalty"
      id="penalty"
    >
      Tout retard de paiement donnera lieu, en plus des pénalités de retard (10 % par an), au versement d'une indemnité forfaitaire de 40€ pour frais de recouvrement.
    </div>

    <div *ngIf="timesheet.invoice.isBankingDetails()">
      <div>Coordonnées bancaires :</div>
      <div>Titulaire du compte : {{ timesheet.invoice.bankAccountHolder }}</div>
      <div>Banque : {{ timesheet.invoice.bankingDomiciliation }}</div>
      <div>Agence : {{ timesheet.invoice.bankingAgency }}</div>
      <div>IBAN : {{ timesheet.invoice.bankIBAN }}</div>
      <div>SWIFT : {{ timesheet.invoice.bankSWIFT }}</div>
    </div>
  </div>

  <div class="invoice__total">
    <table>
      <tr>
        <td class="invoice__total__label">
          Total HT
          <br/>
          <span *ngIf="!timesheet.invoice.provider.vatExemption">
            Montant TVA {{ vatRate }}%
          </span>
        </td>
        <td></td>
        <td class="invoice__total__value">
          <p>{{ totalHT | currency:'EUR':"symbol":'1.0-3':local }}</p>
          <span *ngIf="!timesheet.invoice.provider.vatExemption">
            {{ (totalTTC - totalHT) | currency:'EUR':"symbol":'1.0-3':local }}
          </span>
        </td>
      </tr>
      <tr></tr>
      <tr *ngIf="!timesheet.invoice.provider.vatExemption">
        <td class="invoice__total__label">Total TTC</td>
        <td></td>
        <td>{{ totalTTC | currency:'EUR':"symbol":'1.0-3':local }}</td>
      </tr>
      <tr *ngIf="timesheet.invoice.provider.vatExemption">
        <td
          class="invoice__total__no-vat"
          colspan="3"
        >
          TVA non applicable, art 293 B du CGI
        </td>
      </tr>
    </table>
  </div>

  <div class="invoice__footer">
    <div>
      {{ timesheet.invoice.provider.name }}
      -
      {{ timesheet.invoice.provider.address.replace(';', '') }}
      Tel : {{ timesheet.invoice.provider.getFormattedTelephoneNumber() }}
      -
      <span *ngIf="!timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">R.C.S. {{ timesheet.invoice.provider.tradeAndCompaniesRegisterCity }} </span>
      <span *ngIf="timesheet.invoice.provider.tradeAndCompaniesRegisterExemption">SIREN : </span>
      {{ timesheet.invoice.provider.getFormattedSIRENNumber() }}
    </div>
  </div>
</div>
