@import 'src/app/style/vars';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

.invoice {
  position: absolute;
  top: 0;
  width: 827px;
  height: 1170px;

  .adress-height {
    margin-bottom: -4px;
    line-height: 20px;
  }

  #QuantityColSize {
    min-width: 30px;
  }

  &__header {
    line-height: 13px;
    font-size: 14.14px;

    &__provider {
      position: absolute;
      top: 52px;
      left: 43px;
      width: calc(50% - 43px);

      &__name {
        font-size: 15.5px;
        font-weight: bold;
      }

      div {
        position: relative;
        padding: 5px 0;
      }
    }

    &__client {
      position: absolute;
      top: 52px;
      right: 43px;
      width: calc(50% - 43px);
      text-align: right;

      &__name {
        font-size: 15.5px;
        font-weight: bold;
      }

      div {
        position: relative;
        padding: 5px 0;
      }
    }
  }

  &__reference {
    position: relative;
    top: 250px;
    left: 43px;
    height: 150px;
    font-size: 24px;

    &__invoice {
      font-size: 32px;

      &__number {
        font-weight: bold;
      }
    }

    &__order {
      padding-top: 5px;

      &__left {
        display: inline-block;
        width: calc(50% - 43px);
        text-align: left;
      }

      &__right {
        display: inline-block;
        width: calc(50% - 43px);
        text-align: right;
      }
      &__right-alone {
        display: inline-block;
        width: calc(100% - 86px);
        text-align: right;
      }

      &__number {
        font-weight: bold;
      }
    }

    &__date {
      position: relative;
      top: 300px;
      left: 43px;
      height: 150px;
      font-size: 27px;
    }

    div {
      position: relative;
    }
  }

  &__table {
    position: relative;
    top: 230px;
    left: 43px;
    width: calc(100% - 86px);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;

    &__left-text {
      padding-left: 10px !important;
      text-align: left !important;
    }

    table {
      width: 100%;
    }

    thead {
      border-style: hidden !important;
      background-color: $dark_blue;
      border-collapse: collapse !important;
      color: white;
      font-weight: bold !important;
    }

    thead th {
      border: 1px solid white;
    }

    table,
    th,
    td {
      border: 1px solid $grey_mine_shaft;
      border: none;
      height: 24px;
      border-collapse: collapse;
      vertical-align: middle;
      text-align: center;
    }

    td {
      border-right: 1px solid $grey_mine_lighter !important;
      border-left: 1px solid $grey_mine_lighter !important;
    }
    tr:nth-of-type(even):nth-last-of-type(1) {
      border-bottom: 1px solid $grey_mine_lighter !important;
    }
    tr:nth-of-type(odd) {
      background: $grey_border;
    }
  }

  &__total {
    position: relative;
    top: 250px;
    right: 43px;
    font-family: 'Open Sans Condensed', sans-serif;

    &__label {
      padding-right: 20px;
    }

    &__value {
      width: 1%;
      white-space: nowrap;
      font-weight: bold;
    }

    &__vat {
      font-weight: bold !important;
    }

    &__no-vat {
      font-weight: normal;
    }

    #totalTTC {
      font-size: 20px;
    }

    #valueTotalTTC {
      font-size: 20px;
    }

    tr {
      height: 15px;
      text-align: right;
      line-height: 16px;
      font-size: 17px;

      span {
        font-size: 15.5px;
        font-weight: normal;
      }

      p {
        position: relative;
        right: -1px;
        margin-right: 1px;
        margin-bottom: 0;
      }
    }
  }

  &__additional-information {
    position: relative;
    top: 300px;
    left: 43px;
    width: calc(100% - 86px);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;

    table {
      border-radius: 1px;
      background-color: $grey_border;
    }
    td {
      padding: 5px;
      width: 1%;
      white-space: nowrap;
    }

    #global-information {
      border-right: solid 1px white;
      padding-left: 20px;
      width: 50%;
      vertical-align: top;
      white-space: initial;
    }

    #bank-information {
      vertical-align: top;
      text-align: left;
    }
    #penalty {
      margin-top: 4px;
      line-height: 11px;
      font-size: 12px;
      font-style: italic;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
    }

    &__bolding {
      font-weight: bold;
    }
  }

  &__footer {
    position: fixed;
    bottom: 52px;
    width: 827px;
    text-align: center;
    font-size: 14.14px;
  }

  &__tables {
    position: absolute;
    top: 1222px;
    left: 43px;
    width: calc(100% - 86px);
    font-size: 13px;

    &__expenses {
      & > app-expense-mileage-table,
      & > app-expense-miscellaneous-table,
      & > app-expense-flat-fee-table {
        & > table {
          width: 100% !important;
          font-family: 'Open Sans Condensed', sans-serif !important;
        }

        & > table,
        td,
        th,
        tr {
          padding: 1px !important;
          min-width: 1% !important;
          max-width: 100% !important;
          height: 24px !important;
          white-space: nowrap !important;
        }
      }
    }

    tr:nth-of-type(even):nth-last-child(2) {
      td:not(:last-of-type) {
        border-bottom: 1px solid $grey_mid !important;
      }
    }

    thead {
      border-style: hidden !important;
      border-collapse: collapse !important;
    }

    thead th {
      border: 1px solid white !important;
    }

    #left-text {
      td:nth-child(2) {
        padding-left: 15px !important;
      }
    }

    p {
      text-decoration: underline;
    }
  }
}
