@import 'src/app/style/vars';

body {
  width: 827px;
  height: 1170px;
}

.invoice {
  position:absolute;
  top:0px;
  width: 827px;
  height: 1170px;
  overflow:hidden;

  &__header {
    line-height: 13px;
    font-size: 14.14px;

    &__provider {
      position: absolute;
      left: 47px;
      top: 52px;
      width: calc(50% - 90px);

      &__name {
        font-weight: bold;
        font-size: 15.5px;
      }

      div {
        position: relative;
        padding: 5px 0px;
      }
    }

    &__client {
      position: absolute;
      right: 47px;
      top: 52px;
      text-align: right;
      width: calc(50% - 90px);

      &__name {
        font-weight: bold;
        font-size: 15.5px;
      }

      div {
        position: relative;
        padding: 5px 0px;
      }
    }
  }

  &__reference {
    position: absolute;
    left:43.00px;
    top:300px;
    font-size: 27px;

    &__number {
      font-weight: bold;
      font-size: 32px;
    }

    &__order {
      padding-top: 5px;
    }

    &__date {
      position: absolute !important;
      bottom: -50px;
      font-weight: bold;
      font-size: 14.14px;
    }

    div {
      position: relative;
    }
  }

  &__table {
    position: absolute;
    left: 43px;
    top: 450px;
    font-size: 13px;
    width: calc(100% - 90px);

    table {
      width: 100%;
    }

    table, th, td {
      text-align: center;
      vertical-align: middle;
      border: 1px solid $grey_mine_shaft;
      border-collapse: collapse;
      height: 24px;
    }
  }

  &__additional-information {
    position: absolute;
    left:43px;
    top:575px;
    width: calc(60% - 90px);

    #penalty {
      font-size: 13px;
    }

    div {
      position: relative;
      padding-bottom: 10px;
      font-size: 14.14px;
      line-height: 13px;
    }
  }

  &__total {
    position:absolute;
    right: 43px;
    top:575px;

    &__label {
      padding-right: 20px;
    }

    &__value {
      width:1%;
      white-space:nowrap;
    }

    &__no-vat {
        font-weight: normal;
    }

    tr {
      text-align: right;
      font-weight: bold;
      font-size: 17px;
      line-height: 16px;
      height: 15px;

      span {
        font-weight: normal;
        font-size: 15.5px;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 52px;
    text-align: center;
    font-size: 14.14px;
    width: 100%;
  }
}
