<div class="review">
    <div class="review__header">
        <div class="review__header__container">
            <a href="" title="Retour à l'accueil">
                <img class="review__header__container__logo" src="assets/images/logo.white.svg" alt="logo acrabadabra" onerror="this.removeAttribute('onerror'); this.src='//assets/images/logo.white.png'">
            </a>
        </div>
    </div>

    <div class="review__wrapper">
        <div class="review__wrapper__title">
            <h2>Consulter un compte rendu d'activité</h2>
        </div>
      <div class="review__wrapper__fields">
        <div class="review__wrapper__fields__block" id="consultant">
          <h3 class="review__wrapper__fields__block__title">Consultant</h3>
          <div class="review__wrapper__fieals__block__item-wrapper">
            <p>Nom : <b>{{ timesheet.consultant.name }}</b></p>
            <p>Email : <b>{{ timesheet.consultant.email }}</b></p>
          </div>
        </div>
        <div class="review__wrapper__fields__block" id="mission">
          <h3 class="review__wrapper__fields__block__title">Mission</h3>
          <div class="review__wrapper__fieals__block__item-wrapper">
            <p>Titre : <b>{{ timesheet.mission.title }}</b></p>
            <p>Client : <b>{{ timesheet.mission.client }}</b></p>
          </div>
        </div>
        <div class="review__wrapper__fields__calendar">
          <h3 class="review__wrapper__fields__calendar__title">Journées de travail</h3>
          <app-calendar
          [minifiedTimesheet]="timesheet.timesheet"
          [picking]="false"
          >
          </app-calendar>
        </div>
      </div>

      <div class="review__wrapper__fields__icons">
        <div *ngIf="generateInvoice" class="review__wrapper__fields__icons__item">
          <a target="_blank" [routerLink]="['/invoice/' + invoiceToken]">
            <i class="material-icons">picture_as_pdf</i>
            <p>Afficher la facture</p>
          </a>
        </div>
      </div>
    </div>
</div>
