@import 'src/app/style/vars';
@import 'src/app/style/mixins';

.invoice-form {
  width: 100%;

  &__block {
    margin: 20px 0;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;

      display: flex;
      flex-wrap: wrap;

      &__item {
        margin: 0 5px;
        width: calc(100% - 10px);

        @media (min-width: $screen-sm-min) {
          margin: 0 5px;
          width: calc(50% - 10px);
        }
      }

      &__sub-block {
        margin-bottom: 20px;
        width: 100%;

        &__title {
          @include sub-heading;
        }

        &__input-wrapper {
          @include form-input;

          display: flex;
          flex-wrap: wrap;
          border-bottom: none;
          background: $white;

          &:first-of-type {
            border-top: 1px solid $grey_border_dark;
          }

          &:last-of-type {
            border-bottom: 1px solid $grey_border_dark;
          }

          &__item {
            margin: 0;
            width: 100%;
          }
        }

        @media (min-width: $screen-sm-min) {
          margin-bottom: 30px;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      margin: 30px 0;
    }
  }

  &__half-block {
    display: inline-table;
    margin-bottom: 20px;
    width: 100%;

    &__title {
      @include header-form;
    }

    &__input-wrapper {
      @include form-input;

      &__item {
        &__button {
          border: none;
          background: $dark_blue;
          cursor: pointer;
          width: 100%;
          height: 38px;
          color: $white;
          font-weight: 700;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      width: calc(50% - 20px);
    }
  }
}

input[name='invoiceClientVATNumberInput'] {
  margin-bottom: 32px;
}

.optional {
  padding-left: 5px;
  font-size: 13px;
}

#client {
  @media (min-width: $screen-sm-min) {
    margin-left: 40px;
  }
}
