@import 'src/app/style/vars';
@import 'src/app/style/mixins';

.invoice-form {
    width: 100%;

    &__block {
        @media (min-width: $screen-sm-min) {
            margin: 30px 0px;
        }

        margin: 20px 0px;

        &__title {
            @include header-form;
        }

        &__input-wrapper {
            @include form-input;
            display: flex;
            flex-wrap: wrap;

            &__item {
                @media (min-width: $screen-sm-min) {
                    width: calc(50% - 10px);
                }

                margin: 0 5px;
                width: 100%;

                &__input {
                    &__toggle {
                        font-size: 13px;
                    }
                }
            }

            &__sub-block {
                @media (min-width: $screen-sm-min) {
                    margin-bottom: 30px;
                }

                margin-bottom: 20px;
                width: 100%;

                &__title {
                    @include sub-heading;
                }

                &__input-wrapper {
                    @include form-input;

                    display: flex;
                    flex-wrap: wrap;
                    background: $white;

                    &:first-of-type {
                        border-top: 1px solid $grey_border_dark;
                        border-bottom: none;
                    }

                    &__item {
                        width: 100%;
                        margin: 0px;
                    }
                }
            }
        }

        &__column {
            @media (min-width: $screen-sm-min) {
                width: calc(50% - 20px);

                &:first-of-type {
                    margin-right: 20px;
                }

                &:last-of-type {
                    margin-left: 20px;
                }
            }

            display: inline-table;
            margin-bottom: 20px;
            width: 100%;

            &__title {
                @include header-form;
            }

            &__input-wrapper {
                @include form-input;

                &__item {
                    &__input {
                        &__toggle {
                            font-size: 13px;
                        }
                    }

                    &__button {
                        border: none;
                        background: $dark_blue;
                        cursor: pointer;
                        width: 100%;
                        height: 38px;
                        color: $white;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

#client {
  @media (min-width: $screen-sm-min) {
    margin-left: 40px;
  }
}

