/* You can add global styles to this file */

/* General rules */

html,
body {
  font-size: 16px;
}

body {
  font-family: $main_font;
}

/* ----------------------------------- */

.modal {
  cursor: pointer;
}

.modal.show {
  background-color: rgba(5, 5, 5, 0.4);
}
.modal.open {
  display: block;
}

.modal-dialog {
  cursor: initial;
}
