<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    routerLink="/"
  >
    <div class="sidebar-brand-icon">
      <img src="assets/images/logo.white.small.svg" width="36" height="36" alt="Acrabadabra logo">
    </div>
    <div class="sidebar-brand-text mx-3">Acrabadabra</div>
  </a>

  <hr class="sidebar-divider my-0" />

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/dashboard/activity">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tableau de bord</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">
    Compte rendu d'activité
  </div>

  <li class="nav-item" routerLinkActive="active">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-briefcase"></i>
      <span>Missions</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/dashboard/mission/create" routerLinkActive="active">
          Créer une mission
        </a>
        <a class="collapse-item" routerLink="/dashboard/mission/all" routerLinkActive="active">
          Voir les missions
        </a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">
    Paramètres
  </div>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/dashboard/profile">
      <i class="fas fa-fw fa-user-circle"></i>
      <span>Profil</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/dashboard/company">
      <i class="fas fa-fw fa-building"></i>
      <span>Société</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
  </div>
</ul>
