@import 'src/app/style/vars';
@import 'src/app/style/mixins';

i:hover {
  cursor: pointer;
}

@media (min-width: $screen_sm_min) {
  .left-text {
    padding-left: 15px !important;
    text-align: left;
  }
}

.miscellaneous {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  &__header {
    background-color: $dark_blue;

    &__item {
      border: 1px solid $grey_border_dark;
      padding: 6px;
      width: auto;
      color: white;

      &:not(:first-of-type):not(:last-of-type) {
        border-right: 1px solid white;
        border-left: 1px solid white;
      }

      &:first-of-type {
        border-right: 1px solid white;
      }

      &:last-of-type {
        border-left: 1px solid white;
        width: 200px;
      }

      @media (min-width: $screen_sm_min) {
        .left-text {
          padding-left: 15px !important;
          text-align: left;
        }
      }
    }
  }

  &__body {
    &__item {
      border: 1px solid $grey_border_dark;
      padding: 6px;

      &:empty:not(.keep-border) {
        border: 0;
      }

      &:last-of-type {
        font-weight: bold;
      }

      &.trashCan {
        width: 60px;
      }
    }

    & > tr {
      &:not(:last-of-type):nth-of-type(odd) {
        background-color: $grey_border;
      }
    }
  }

  @media only screen and (max-width: 599px), (min-device-width: 350px) and (max-device-width: 599px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      empty-cells: show;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      position: relative;
      border: none;
      border-bottom: 1px solid #eee;
      padding-left: 50%;
      min-height: 37px;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      padding-right: 10px;
      width: 45%;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: attr(data-text);
    }
    td:nth-of-type(2):before {
      content: attr(data-text);
    }
    td:nth-of-type(3):before {
      content: attr(data-text);
    }
    td:nth-of-type(4):before {
      content: attr(data-text);
    }
  }
}
