/* You can add global styles to this file, and also import other style files */

.modal {
  cursor: pointer;
}

.modal.show {
  background-color: rgba(5, 5, 5, 0.4);
}
.modal.open {
  display: block;
}

.modal-dialog {
  cursor: initial;
}
