<div id="homepage" class="homepage">
  <div class="homepage__header">
    <div class="homepage__header__container">
      <img class="homepage__header__container__logo" src="assets/images/logo.white.svg" alt="logo {{ title }}" onerror="this.removeAttribute('onerror'); this.src='//assets/images/logo.white.png'">
    </div>
  </div>

  <div class="homepage__main">
    <div class="homepage__main__title">
      <span class="brand_name">{{ title }} </span>
      <h1>Une solution en ligne pour les SSII</h1>
    </div>

    <button type="button" class="homepage__main__btncreate" data-text="Saisir un CRA" [routerLink]="['/timesheet/create']">
      <span>Saisir un CRA</span>
    </button>
  </div>
</div>
