@import 'src/app/style/vars';
@import 'src/app/style/mixins';

i:hover{
    cursor:pointer;
}

.mileage-allowance-form {
    width: 100%;

    &__block {
        @media (min-width: $screen-sm-min) {
            margin: 30px 0px;
        }
        margin: 20px 0px;

        &__title {
            @include header-form;
        }

        &__submit {
            margin-top: 40px;
            width: 100%;
            text-align: center;

            &__button {
              @include hoveranim_glow($darker_blue);
              border: none;
                    display: inline-block;
              background: $dark_blue;
              padding: 0;
                    cursor: pointer;
                    width: 15%;
              height: 40px;
              min-width: 100px;
                    line-height: 40px;
              color: $white;
                    font-size: 16px;
                    font-weight: 700;
            }
        }

        &__input-wrapper {
            @include form-input;
            display: flex;
            flex-wrap: wrap;

            &__item {
                width: calc(50% - 10px);
                margin: 0 5px;
            }

            &__sub-block {
                @media (min-width: $screen-sm-min) {
                    margin-bottom: 30px;
                }
                margin-bottom: 20px;
                width: 100%;

                &__title {
                    @include header-form;
                }

                &__input-wrapper {
                    @include form-input;
                    display: flex;
                    flex-wrap: wrap;
                    background: $white;
                    border-bottom: none;

                    &:first-of-type {
                        border-top: 1px solid $grey_border_dark;
                    }

                    &:last-of-type {
                      border-bottom: 1px solid $grey_border_dark;
                    }

                    &__item {
                        width: 100%;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

